{% extends 'templates/layout.twig' %}
{% block title %}{{ test.titre_test }}{% endblock %}

    {% block graph %}
        {% if code !='' %}
            <!--FACEBOOK-->
            <link rel="canonical" href="{{ domain_url }}/test/{{ test.titre_test | twig_title_url(test.id_test, lang) }}/{{ test.id_test }}/ref/{{ code }}">
            <meta property="og:title" content="{{ test.titre_test }}" />
            <meta property="og:site_name" content="Funizi" />
            <meta property="og:url" content="{{ domain_url }}/test/{{ test.titre_test | twig_title_url(test.id_test, lang) }}/{{ test.id_test }}/ref/{{ code }}" >
            <meta property="og:description" content="{{interface_ui.label_share_prefixe | capitalize}} : {{ test.titre_test | lower }}" />
            <meta property="og:image:type" content="image/jpeg" />
            <meta property="og:image:width" content="800"/>
            <meta property="og:image:height" content="420"/>
            <meta property="og:image" content="{{ storage_base }}{{ img_url }}" />
            <meta property="og:type" content="website">
            <meta property="fb:app_id" content="348809548888116">

        {% else %}
            <!--FACEBOOK-->
            <link rel="canonical" href="{{ domain_url }}/test/{{ test.titre_test | twig_title_url(test.id_test, lang) }}/{{ test.id_test }}">
            <meta property="og:title" content="{{ test.titre_test }}" />
            <meta property="og:site_name" content="Funizi.com" />
            <meta property="og:url" content="{{ domain_url }}/test/{{ test.titre_test | twig_title_url(test.id_test, lang) }}/{{ test.id_test }}" >
            <meta property="og:description" content="{{interface_ui.label_share_prefixe | capitalize}} : {{ test.titre_test | lower }}" />
            <meta property="og:type" content="website">
            <meta property="fb:app_id" content="348809548888116">

        {% endif %}
    {% endblock %}
{% block googletagmanager %}
    <script>
      dataLayer = [{
        'pageCategory': 'single'
      }];
    </script>
{% endblock %}
{% block banner_mobile_top %}
    {% include 'banners/banner_320x100_top.twig' %}
{% endblock %}
{% block content %}
    {% set i = 0 %}
    {% set j = 0 %}
    <div class="row">
        {% if flash.message('imgface') %}
            <div class="col-sm-12" style="margin-top:20px;" id="div_erreur_aut">
            <div class="alert alert-warning col-xs-12 col-sm-10 col-sm-offset-1" id="erreur_aut">
                {{ flash.message('imgface')[0] }}
            </div>
            </div>
        {% endif %}
        <div class="col-sm-12">

            <div  id="div_test" class="col-xs-12 col-sm-10 col-sm-offset-1 back_layer" style = "padding:10px">

                {% if photos_profile is defined %}
                    <div class="" style="font-size: 1.6em;">
                        {{photos_profile.label}}
                    </div>
                    <div class="row text-center " style="max-height:500px; overflow-y:scroll; padding:0; margin:0" >
                        {% for photo in photos_profile.photos %}
                            <div class="gallery-fb col-lg-3 col-md-4 col-sm-4 col-xs-4 col-xxs-6" style="">
                              <a onclick = "setSessionVar('url_img_profile_user','{{photo.url}}',{{id_test}}, true);" data-id="{{photo.id}}" data-url-image="{{photo.url}}" ><img src="{{photo.url}}" class="img-responsive" style="" /></a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if input_text is defined %}
                  <div class="form-group" style="font-size: 1.6em;">
                    <label class="control-label" for="user_friend_name">{{input_text.label}}</label>
                    <input type="text" id="additionnal_input_text" name="additionnal_input_text" value="" placeholder="{{input_text.label}}" class="form-control" style="max-width:400px; margin:0 auto;text-align: center;">
                  </div>
                  <div class="form-group">
                    <a id="btn-result" href="{{ domain_url }}/start/{{ test.id_test }}" onclick="setSessionVar('additionnal_input_text',$('#additionnal_input_text').val(),{{id_test}}, true);" class="btn btn-lg btn_to_track gtm_btn-test" data-btn="process" style="background-color: #3b5999; color:#fff">
                        <i class="fab fa-facebook-square"></i>
                            {{interface_ui.btn_continue | capitalize}} {{ session.name | capitalize }}
                    </a>
                  </div>
                {% endif %}

                {% if input_gender is defined %}
                  <form id="gender">
                    <div class="form-group" style="font-size: 1.6em;">
                      <label class="control-label" for="user_friend_name">{{input_gender.label}}</label>

                      <label class="radio-inline"><input type="radio" name="user_gender" value="male" checked>{{interface_ui.label_radio_male}}</label>
                      <label class="radio-inline"><input type="radio" name="user_gender" value="female">{{interface_ui.label_radio_female}}</label>

                    </div>
                    <div class="form-group">
                      <a id="btn-result" href="{{ domain_url }}/start/{{ test.id_test }}" onclick="setSessionVar('gender',$('input[name=user_gender]:checked', '#gender').val(),{{id_test}}, true);" class="btn btn-lg btn_to_track gtm_btn-test" data-btn="process" style="background-color: #3b5999; color:#fff">
                          <i class="fab fa-facebook-square"></i>
                              {{interface_ui.btn_continue | capitalize}} {{ session.name | capitalize }}
                      </a>
                    </div>
                  </form>
                {% endif %}

                {% if input_list_team is defined %}
                  <form id="input_list_team">
                    <input  type="hidden" name="fav_team" id="fav_team" value=""/>
                    <div class="form-group" style="font-size: 1.6em;">
                      <label class="control-label" for="user_friend_name" style="width:100%">{{input_list_team.label}}</label>
                      {% for team in input_list_team.teams %}
                        <div class="col-sm-3 col-sm-offset-3 col-xs-4 col-xs-offset-2" style="padding:0">
                          <img src="{{team.flag}}" class="input_list_team" onclick="setSessionVarCDM('fav_team','{{team.cc}}','{{team.french}}',{{id_test}},true)"/>
                        </div>
                      {% endfor %}
                    </div>
                  </form>
                {% endif %}


            </div>

            <div id="div_loader" class="col-xs-12 col-sm-10 col-sm-offset-1" style="display:none; margin-top:30px;">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1" >
                    <img src="{{ domain_url }}/src/img/rolling.gif" style=" max-height: 30px; margin: 0;">
                    <div style="font-weight: 500; font-size:1.2em; ">{{ interface_ui.label_loading_fixed | capitalize }}</div>
                    <div id="div_tasks" style="display:block; font-weight: 500; margin-top:0px; clear:both; font-size:1em;">{{ interface_ui.label_loading_1 | capitalize }}</div>
                    <span class="info-partage text-center" style="display:block; clear: both; margin-top:8px; font-family:'Helvetica Neue'; color:#2e5085; font-weight:500; font-size:1.1em;">{{interface_ui.label_like_1 | capitalize}} {{ session.name }} ! <br> ! {{interface_ui.label_like_2}} !</span>
                    <div style="width:250px; margin: 5px auto;  position: relative;">
                        <div class="div_left_hand"> <img src="{{ domain_url }}/src/img/hand_left.png" class="left_hand"/> </div>

                        <div class="fb-like" data-href="https://www.facebook.com/funizi/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
                        <div class="div_right_hand"> <img src="{{ domain_url }}/src/img/hand_right.png"  class="right_hand"/></div>
                    </div>
                </div>
            </div>

        </div>

        {% if test_owner%}
            <div class="col-sm-12" style="margin-top: 5px; font-size: 10px;">
                Avertissement : Ce test a été créé et publié par <a href="https://facebook.com/{{ test_owner.facebook_id}}" target="_blank">{{ test_owner.first_name}} {{ test_owner.last_name}} </a>
            </div>
        {% endif %}



    </div>

    {% if is_mobile() or is_tablet() %}
        {% set banner = random(['banners/banner_320x50_middle_top_mobile.twig', 'banners/banner_300x250_middle_top_mobile.twig']) %}
        <div class="row text-center" style="margin-top:1.5em">
            {% include banner %}
        </div>
    {% endif %}
    <div class="row text-center" style="margin-top:0.5em">
    <h3 style="margin:.5em auto 1em;">{{interface_ui.label_discover | capitalize}}</h3>

    {% if all_test %}
        {% for single_test in all_test %}
          {% if is_mobile() or is_tablet() %}

            {% if  ab_testing == 'b' %}
              <div class="col-md-6 portfolio-item">
                    <div class="border_gallery_responsive" data-test-id="{{single_test.id_test}}">
                        <img class="img-responsive" src="{{ storage_base }}/images{{ single_test.url_image_test |trim('.', 'left') }}" alt="image du test" style="">
                        <span class="mobile-layer"></span>
                      <a href="{{ domain_url }}/test/{{single_test.titre_test | twig_title_url(single_test.id_test, lang)}}/{{single_test.id_test}}" data-btn="btn-test" class="test__link add_link_test_b"></a>
                    </div>
                    <div  class="test-title-gallery">
                      <a href="{{ domain_url }}/test/{{single_test.titre_test | twig_title_url(single_test.id_test, lang)}}/{{single_test.id_test}}" class="add_link_test_b" ><span style="font-size:15px;font-weight: bolder;">{{ single_test.titre_test }}</span></a>
                    </div>
              </div>
            {% else %}
              <div class="col-md-4 portfolio-item">
                  <div class="border" data-test-id="{{single_test.id_test}}">
                      <img class="img-responsive" src="{{ storage_base }}/images{{ single_test.url_image_test |trim('.', 'left') }}" alt="image du test">
                      <span class="mobile-layer"></span>
                    <a class="test__link btn_to_track add_link_test_a" href="{{ domain_url }}/test/{{single_test.titre_test | twig_title_url(single_test.id_test, lang)}}/{{single_test.id_test}}" data-btn="btn-test"></a>
                      <h3 class="test-title">{{ single_test.titre_test }}</h3>
                    <div class="test__next"><a href="{{ domain_url }}/test/{{single_test.titre_test | twig_title_url(single_test.id_test, lang)}}/{{single_test.id_test}}" class="btn btn-primary col-sm-8 col-sm-offset-2 btn_to_track add_link_test_a"  data-btn="btn-test">
                    {{interface_ui.btn_do_test}} <i class="fa fa-arrow-right"></i></a></div>
                  </div>
              </div>
            {% endif %}

          {% set i = i+1 %}
          {% if i is divisible by(3) %}
              {% set j = j + 1 %}
              </div>
              {% if j == 1 %}
                  {% if is_mobile() or is_tablet() %}
                      <div class="" style="margin:5px auto 10px">
                          {% set banner = random(['banners/banner_360x300_responsive_bottom.twig', 'banners/banner_300x250_bottom.twig']) %}
                          {% include  banner %}
                      </div>
                  {% endif %}
              {% endif %}
              <div class="row text-center">
          {% endif %}
        {% else %}
          <div class="col-sm-6 col-md-4 portfolio-item-gallery">
                <div class="border_gallery" >
                    <img class="img-responsive" src="{{ storage_base }}/images{{ single_test.url_image_test |trim('.', 'left') }}" alt="image du test" style="width: 100%; height: 100%; object-fit: cover; object-position: 0 30%;">
                    <span class="mobile-layer"></span>
                    <!-- <a href="{{ path_for('single', { 'id': single_test.id_test, 'name': single_test.titre_test | twig_clean_url }) }}" class="test__link" data-btn="btn-test"></a> -->
                    <a href="{{ domain_url }}/test/{{single_test.titre_test | twig_title_url(single_test.id_test, lang)}}/{{single_test.id_test}}" class="test__link" data-btn="btn-test"></a>

                </div>
                <div  class="test-title-gallery">
                  <span style="font-size:14px;">{{ single_test.titre_test }}</span>
                </div>
          </div>

          {% set i = i+1 %}
          {% if i is divisible by(3) %}
              {% set j = j + 1 %}
              </div>
              {% if j == 1 %}
                  {% if is_mobile() or is_tablet() %}
                      <div class="" style="margin:5px auto 10px">
                          {% set banner = random(['banners/banner_360x300_responsive_bottom.twig', 'banners/banner_300x250_bottom.twig']) %}
                          {% include  banner %}
                      </div>
                  {% endif %}
              {% endif %}
              <div class="row text-center">
          {% endif %}
          {% endif %}

        {% endfor %}
    {% endif %}
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="margin-top:1em; margin-bottom:2em"><a class="btn btn-default btn-lg btn-accueil" href="{{ path_for('accueil') }}?utm=all_test"><i class="fa fa-home"></i> {{interface_ui.btn_home | capitalize}}</a></div>
{% endblock %}
