{% extends 'templates/layout.twig' %}
{% block title %}{{ test.titre_test }}{% endblock %}

    {% block graph %}
        {% if code !='' %}
            <!--FACEBOOK-->
            <link rel="canonical" href="{{ domain_url }}/test/{{ test.titre_test | twig_title_url(test.id_test, lang) }}/{{ test.id_test }}/ref/{{ code }}">
            <meta property="og:title" content="{{ test.titre_test }}" />
            <meta property="og:site_name" content="Funizi" />
            <meta property="og:url" content="{{ domain_url }}/test/{{ test.titre_test | twig_title_url(test.id_test, lang) }}/{{ test.id_test }}/ref/{{ code }}" >
            <meta property="og:description" content="{{interface_ui.label_share_prefixe2 | capitalize}}" />
            <!--meta property="og:description" content="{% if test.id_rubrique != 9 %} {{interface_ui.label_share_prefixe | capitalize}} :{% endif %} {{ test.titre_test }}" /-->
            <meta property="og:image:type" content="image/jpeg" />
            <meta property="og:image:width" content="800"/>
            <meta property="og:image:height" content="420"/>
            <meta property="og:image" content="{{ storage_base }}{{ img_url }}" />
            <meta property="og:type" content="website">
            <meta property="fb:app_id" content="348809548888116">

        {% else %}
            <!--FACEBOOK-->
            <link rel="canonical" href="{{ domain_url }}/test/{{ test.titre_test | twig_title_url(test.id_test, lang) }}/{{ test.id_test }}">
            <meta property="og:title" content="{{ test.titre_test }}" />
            <meta property="og:site_name" content="Funizi.com" />
            <meta property="og:url" content="{{ domain_url }}/test/{{ test.titre_test | twig_title_url(test.id_test, lang) }}/{{ test.id_test }}" >
            <meta property="og:description" content="{{interface_ui.label_share_prefixe2 | capitalize}}" />
            <meta property="og:type" content="website">
            {% if test.id_test == 207 %}
              <meta property="og:image" content="{{ storage_base }}/uploads/signification_prenomv1.png" />
            {% endif %}
            {% if test.id_test == 365 %}
              <meta property="og:image" content="{{ storage_base }}/uploads/test_365.png" />
            {% endif %}
            {% if test.id_test == 370 %}
              <meta property="og:image" content="{{ storage_base }}/uploads/test_370.png" />
            {% endif %}
            {% if test.id_test == 379 %}
              <meta property="og:image" content="{{ storage_base }}/uploads/test_379_2.png" />
            {% endif %}
            {% if test.id_test != 207 and test.id_test != 365 and test.id_test != 370 and test.id_test != 379 %}
              <meta property="og:image" content="{{ storage_base }}/uploads/test_{{ test.id_test }}.png" />
            {% endif %}
            <meta property="fb:app_id" content="348809548888116">

        {% endif %}
    {% endblock %}
{% block googletagmanager %}
    <script>
      dataLayer = [{
        'pageCategory': 'single'
      }];
    </script>
{% endblock %}
{% block banner_mobile_top %}
    {% include 'banners/banner_320x100_top.twig' %}
{% endblock %}
{% block content %}
    {% set i = 0 %}
    {% set j = 0 %}
    <div class="row">
        {% if flash.message('fberror') %}
            <div class="col-sm-12" style="margin-top:20px;" id="div_erreur_aut">
              <div class="alert alert-warning col-xs-12 col-sm-10 col-sm-offset-1" id="erreur_aut">
                  {{ flash.message('fberror')[0] }}
              </div>
            </div>
        {% endif %}
        <div class="col-sm-12">
            <div  id="div_test" class="col-xs-12 col-sm-10 col-sm-offset-1 back_layer">
                <h1 class="t__title text-center">{{ test.titre_test }}</h1>
                <div class="col-sm-8 col-sm-offset-2 col-xs-12" style=" margin-top: 1em;">


                  {% if session.name == '' %}
                  <span class="info-test text-center">{{interface_ui.label_info_test | capitalize}}</span>
                  {% endif %}
                  <!--div class="test-image text-center col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0"></div-->
                  <div  class="col-xs-12 btn-action text-center" style="margin-top:1em; margin-bottom: 2em; padding:0; ">
                      {% if session.name %}
                          {% if (permission == 0) or (session.accepted == true)  %}
                        <a id="btn-result" href="{{ domain_url }}/start{% if test.if_additionnal_info == 1 %}/1{% endif %}/{{ test.id_test }}" onclick="loader()" class="btn btn-lg btn_to_track gtm_btn-test" data-btn="process" style="background-color: #3b5999; color:#fff">
                                  <i class="fab fa-facebook-square"></i>
                                      {{interface_ui.btn_continue | capitalize}} {{ session.name | capitalize }}
                              </a>
                          {% else %}
                              <a id="btn-result" href="{{ loginUrl }}"  onclick="loader()" class="btn btn-lg btn_to_track gtm_btn-test" data-btn="process" style="background-color: #3b5999; color:#fff">
                                  <i class="fab fa-facebook-square"></i>
                                  {{interface_ui.btn_continue | capitalize}} {{ session.name | capitalize }}
                              </a>
                          {% endif %}
                      {% else %}
                          <a id="btn-result" href="{{ loginUrl }}"  onclick="loader()" class="btn btn-lg btn_to_track gtm_btn-test" data-btn="process" style="background-color: #3b5999; color:#fff">
                              <i class="fab fa-facebook-square"></i>
                              {{interface_ui.btn_login_test | capitalize}}
                          </a>
                      {% endif %}
                  </div>

                </div>
            </div>

            <div id="div_loader" class="col-xs-12 col-sm-10 col-sm-offset-1" style="display:none; margin-top:30px;">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1" >
                    <img src="{{ domain_url }}/src/img/rolling.gif" style=" max-height: 30px; margin: 0;">
                    <div style="font-weight: 500; font-size:1.2em; ">{{ interface_ui.label_loading_fixed | capitalize }}</div>
                    <div id="div_tasks" style="display:block; font-weight: 500; margin-top:0px; clear:both; font-size:1em;">{{ interface_ui.label_loading_1 | capitalize }}</div>
                    <span class="info-partage text-center" style="display:block; clear: both; margin-top:8px; font-family:'Helvetica Neue'; color:#2e5085; font-weight:500; font-size:1.1em;">{{interface_ui.label_like_1 | capitalize}} {{ session.name }} ! <br> ! {{interface_ui.label_like_2}} !</span>
                    <div style="width:250px; margin: 5px auto;  position: relative;">
                        <div class="div_left_hand"> <img src="{{ domain_url }}/src/img/hand_left.png" class="left_hand"/> </div>

                        <div class="fb-like" data-href="https://www.facebook.com/funizi/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
                        <div class="div_right_hand"> <img src="{{ domain_url }}/src/img/hand_right.png"  class="right_hand"/></div>
                    </div>
                </div>
            </div>

        </div>

        {% if test_owner %}
            <div class="col-sm-12" style="margin-top: 5px; font-size: 10px;">
                Avertissement : Ce test a été créé et publié par <a href="https://facebook.com/{{ test_owner.facebook_id}}" target="_blank">{{ test_owner.first_name}} {{ test_owner.last_name}} </a>
            </div>
        {% endif %}



    </div>

    {% if is_mobile() or is_tablet() %}
        {% if country_code == 'SN' %}
          <div class="row text-center" style="margin-top:1em">
            <a href="http://bit.ly/MyFavTeam2018" target="_blank"><img src="{{storage_base}}/images/banner/jeu_concours_sn.gif" style="max-width: 95%;" alt="Senegal"></a>
          </div>
        {% endif %}
        {% set banner = random(['banners/banner_320x50_middle_top_mobile.twig', 'banners/banner_300x250_middle_top_mobile.twig']) %}
        <div class="row text-center" style="margin-top:1.5em">
            {% include banner %}
        </div>
    {% endif %}
    <div class="row text-center" style="margin-top:0.5em">
    <h3 style="margin:.5em auto 1em;">{{interface_ui.label_discover | capitalize}}</h3>



    {% if all_test %}
        {% for single_test in all_test %}
          {% if is_mobile() or is_tablet() %}
            <div class="col-md-4 portfolio-item">
                <div class="border" data-test-id="{{single_test.id_test}}">
                    <img class="img-responsive" src="{{ storage_base }}/images{{ single_test.url_image_test |trim('.', 'left') }}" alt="image du test">
                    <span class="mobile-layer"></span>
                    <a class="test__link btn_to_track" href="{{ path_for('singledis', { 'from': 'discover', 'id': single_test.id_test, 'name': single_test.titre_test | twig_title_url(single_test.id_test, lang) }) }}" data-btn="btn-test"></a>
                    <h3 class="test-title">{{ single_test.titre_test }}</h3>
                    <div class="test__next"><a href="{{ path_for('singledis', { 'from': 'discover', 'id': single_test.id_test, 'name': single_test.titre_test | twig_title_url(single_test.id_test, lang) }) }}" class="btn btn-primary col-sm-8 col-sm-offset-2 btn_to_track"  data-btn="btn-test">{{interface_ui.btn_do_test}} <i class="fa fa-arrow-right"></i></a></div>
                </div>
            </div>
            {% set i = i+1 %}
            {% if i is divisible by(3) %}
                {% set j = j + 1 %}
                </div>
                {% if j == 1 %}
                    {% if is_mobile() or is_tablet() %}
                        <div class="" style="margin:5px auto 10px">
                            {% set banner = random(['banners/banner_360x300_responsive_bottom.twig', 'banners/banner_300x250_bottom.twig']) %}
                            {% include  banner %}
                        </div>
                    {% endif %}
                {% endif %}
                <div class="row text-center">
            {% endif %}
          {% else %}
          <div class="col-sm-6 col-md-4 portfolio-item-gallery">
                <div class="border_gallery" >
                    <img class="img-responsive" src="{{ storage_base }}/images{{ single_test.url_image_test |trim('.', 'left') }}" alt="image du test" style="width: 100%; height: 100%; object-fit: cover; object-position: 0 30%;">
                    <span class="mobile-layer"></span>
                    <!-- <a href="{{ path_for('single', { 'id': single_test.id_test, 'name': single_test.titre_test | twig_clean_url }) }}" class="test__link" data-btn="btn-test"></a> -->
                    <a href="{{ domain_url }}/test/{{single_test.titre_test | twig_title_url(single_test.id_test, lang)}}/{{single_test.id_test}}" class="test__link" data-btn="btn-test"></a>

                </div>
                <div  class="test-title-gallery">
                  <a href="{{ domain_url }}/test/{{single_test.titre_test | twig_title_url(single_test.id_test, lang)}}/{{single_test.id_test}}" ><span style="font-size:14px;">{{ single_test.titre_test }}</span></a>
                </div>
          </div>

          {% set i = i+1 %}
          {% if i is divisible by(3) %}
              {% set j = j + 1 %}
              </div>
              {% if j == 1 %}
                  {% if is_mobile() or is_tablet() %}
                      <div class="" style="margin:5px auto 10px">
                          {% set banner = random(['banners/banner_360x300_responsive_bottom.twig', 'banners/banner_300x250_bottom.twig']) %}
                          {% include  banner %}
                      </div>
                  {% endif %}
              {% endif %}
              <div class="row text-center">
          {% endif %}
          {% endif %}

        {% endfor %}
    {% endif %}
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="margin-top:1em; margin-bottom:2em"><a class="btn btn-default btn-lg btn-accueil" href="{{ path_for('accueil') }}?utm=all_test"><i class="fa fa-home"></i> {{interface_ui.btn_home | capitalize}}</a></div>
{% endblock %}
