{% extends 'templates/layout.twig' %}
{% block title %}{{interface_ui.title_home | capitalize}}{% endblock %}
{% block googletagmanager %}
<script>
  dataLayer = [{
    'pageCategory': 'home'
  }];
</script>
{% endblock %}
{% block banner_mobile_top %}
    {% include 'banners/banner_320x100_top.twig' %}
{% endblock %}


{% block content %}

<div id="discovery-share-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                  <img class="img-responsive" src="{{ domain_url }}/creation-test/src/img/funizi.png" style="height:30px; margin: 0 auto;" alt="Funizi">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
              <p>
                {{session.name | capitalize }}, {{interface_ui.label_other_tests | capitalize}} !
              </p>
              <div class="row text-center" style="margin-top:1.5em">
                {% for test in top_tests %}
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <div class="border">
                            <img class="img-responsive" src="{{ storage_base }}/images{{ test.url_image_test |trim('.', 'left') }}" alt="image du test">
                            <span class="mobile-layer"></span>
                            <a href="{{ path_for('single', { 'id': test.id_test, 'name': test.titre_test | twig_title_url(test.id_test, lang) }) }}?utm=d_test" class="test__link" data-btn="btn-test"></a>
                            <h3 class="test-title">{{ test.titre_test }}</h3>
                            <div class="test__next"><a href="{{ path_for('single', { 'id': test.id_test, 'name': test.titre_test | twig_title_url(test.id_test, lang) }) }}?utm=d_test" class="btn btn-primary col-sm-8 col-sm-offset-2" data-btn="btn-test" style="font-size: 12px;">{{interface_ui.btn_do_test}} <i class="fa fa-arrow-right"></i></a></div>
                        </div>
                    </div>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

</script>

{% endblock %}
