
<div class="col-sm-12 infobox-container">
  <div class="infobox-header">
    <i class=""></i>
    Statistiques du {{data_global.start}} {% if data_global.start != data_global.end %} au {{data_global.end}} {% endif %} <span style="font-size:12px; float:right;"> MAJ : {{now|date("H:i:s")}} </span>
  </div>
  <div class="panel panel-default" style="clear: both;">
    <!-- Default panel contents -->
    <div class="panel-heading">En résumé </div>
    <div class="panel-body">

      <div class="infobox infobox3 infobox-green">
        <div class="infobox-icon">
          <i class="ace-icon fas fa-plus-circle"></i>
        </div>

        <div class="infobox-data">
          <span class="infobox-data-number"><a href="all-test.php" target="_blank"> {{data_global.nb_tests_created_all}} </a></span>
          <div class="infobox-content">Tests crées</div>
        </div>
      </div>
      <div class="infobox infobox3 infobox-green">
        <div class="infobox-icon">
          <i class="ace-icon fa fa-check"></i>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number"> {{data_global.nb_tests_done_all}} </span>
          <div class="infobox-content">Tests effectués</div>
        </div>
        <div class="badge badge-success"> {{data_global.nb_test_unique_done_all}} </div>
        <div class="stat {% if data_global.taux_diff_test >= 0 %} stat-success {% else %} stat-important {% endif %} "> {% if data_global.taux_diff_test != 0 %} {{data_global.taux_diff_test}} % {% endif %} </div>
      </div>
      <div class="infobox infobox3 infobox-green">
        <div class="infobox-icon">
          <i class="ace-icon fa fa-check"></i>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number"> {{data_global.nb_tests_done_all_from_messenger}}</span>
          <div class="infobox-content">Tests via Messenger</div>
        </div>
        <div class="badge badge-success"> {{data_global.nb_test_unique_done_all_from_messenger}}  </div>
        <!--div class="badge2 badge-warning"> {{data_global.nb_player_all}}  </div-->
      </div>
      <div class="infobox infobox3 infobox-pink">
        <div class="infobox-icon">
          <!--i class="ace-icon fa fa-share-square-o"></i-->
          <i class="ace-icon far fa-share-square"></i>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number"> {{data_global.share_count_all}}</span>
          <div class="infobox-content">Partages directs</div>
        </div>
        <div class="badge badge-success"> {{data_global.share_count_unique_all}}  </div>
      </div>
      <div class="infobox infobox3 infobox-pink">
        <div class="infobox-icon">
          <i class="ace-icon far fa-share-square"></i>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number"> {{data_global.taux_sharing_all}} % </span>
          <div class="infobox-content">Taux de partage</div>
        </div>
        <div class="badge badge-success"> {{data_global.taux_sharing_unique_all}} % </div>
      </div>
      <div class="infobox infobox3 infobox-green">
        <div class="infobox-icon">
          <i class="ace-icon fas fa-users"></i>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number"> {{data_global.nb_player_all}} </span>
          <div class="infobox-content">Utilisateurs</div>
        </div>
        <div class="badge badge-success"> {{data_global.nb_new_users_all}}  </div>
        <div class="stat {% if data_global.taux_diff_player >= 0 %} stat-success {% else %} stat-important {% endif %} "> {% if data_global.taux_diff_player != 0 %} {{data_global.taux_diff_player}} % {% endif %} </div>
      </div>
      <div class="infobox infobox3 infobox-blue3">
        <div class="infobox-icon">
          <i class="ace-icon fa fa-check"></i>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number"> {{data_global.taux_test_per_user_all}} </span>
          <div class="infobox-content">Tests par utilisateurs</div>
        </div>
      </div>
      <div class="infobox infobox3 infobox-blue3">
        <div class="infobox-icon">
          <i class="ace-icon fas fa-share-square"></i>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number"> {{data_global.share_count_2_all}} </span>
          <div class="infobox-content">Partages depuis Facebook</div>
        </div>
      </div>
      <!--div class="infobox infobox3 infobox-red2">
        <div class="infobox-icon">
          <i class="ace-icon fa fa-mouse-pointer"></i>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number"> {{data_global.click_count_all}} </span>
          <div class="infobox-content">Clics</div>
        </div>
      </div-->
      <div class="infobox infobox3 infobox-blue">
        <div class="infobox-icon">
          <i class="ace-icon fas fa-comments"></i>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number"> {{data_global.comment_count_all}} </span>
          <div class="infobox-content">Commentaires</div>
        </div>
      </div>
      <div class="infobox infobox3 infobox-blue3">
        <div class="infobox-icon">
          <i class="ace-icon fas fa-thumbs-up"></i>
        </div>
        <div class="infobox-data">
          <span class="infobox-data-number"> {{data_global.reaction_count_all}} </span>
          <div class="infobox-content">Réactions</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden-xs " style="clear:both; margin-bottom: 20px;">

      <script type="text/javascript">
        google.charts.load('current',
          {
            'packages':['geochart'],
            'language': 'fr',
            'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
          }
        );
        google.charts.setOnLoadCallback(drawRegionsMap);
        //google.charts.setOnLoadCallback(drawChartLine);

        function drawRegionsMap() {
          var data_test = google.visualization.arrayToDataTable([ {{data_chart.data_chart_tests|raw}} ]);
          var data_share = google.visualization.arrayToDataTable([ {{data_chart.data_chart_shares|raw}} ]);
          var data_user = google.visualization.arrayToDataTable([ {{data_chart.data_chart_users|raw}} ]);

          var options_test = {
            keepAspectRatio: true,
            width: 600,
            colorAxis:{
              minValue: 1,  colors: ['#EAF2F8', '#154360'],
            }
          };
          var options_share = {
            legend:{
              numberFormat:'##.##'
            },
            keepAspectRatio: true,
            width: 600,
            colorAxis:{
              minValue: 0.01,  colors: ['#DAF7A6', '#145A32'],
            }
          };
          var options_user = {
            keepAspectRatio: true,
            width: 600,
            colorAxis:{
              minValue: 1,  colors: ['#FAE6E4', '#C70039'],
            }
          };

          var chart_test = new google.visualization.GeoChart(document.getElementById('regions_div_test'));
          var chart_share = new google.visualization.GeoChart(document.getElementById('regions_div_share'));
          var chart_user = new google.visualization.GeoChart(document.getElementById('regions_div_user'));

          google.visualization.events.addListener(chart_test, "regionClick", function (eventData) {
            var countryISO2 = eventData["region"];
            setSelect2Country(countryISO2);
            showAfterSelectCountry();
          });
          google.visualization.events.addListener(chart_share, "regionClick", function (eventData) {
            var countryISO2 = eventData["region"];
            setSelect2Country(countryISO2);
            showAfterSelectCountry();
          });
          google.visualization.events.addListener(chart_user, "regionClick", function (eventData) {
            var countryISO2 = eventData["region"];
            setSelect2Country(countryISO2);
            showAfterSelectCountry();
          });

          chart_test.draw(data_test, options_test);
          chart_share.draw(data_share, options_share);
          chart_user.draw(data_user, options_user);
        }


      </script>



      <script>
        var ctx = document.getElementById("line_chart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [ {% set i = 1 %}{% for stat in data_line_chart %}{% if i != 1%}, {% endif %} new Date({{stat.day}}) {% set i = i + 1 %}{% endfor %} ],
                datasets: [{
                    label: 'Tests',
                    fill: false,
                    backgroundColor: '#1976D2',
                    borderColor: '#1976D2',
                    data: [{% set i = 1 %}{% for stat in data_line_chart %}{% if i != 1%}, {% endif %} {{stat.nb_tests_done}} {% set i = i + 1 %}{% endfor %} ],
                    borderWidth: 1
                  },
                  {
                    label: 'Partages',
                    fill: false,
                    backgroundColor: '#F44336',
                    borderColor: '#F44336',
                    data: [{% set i = 1 %}{% for stat in data_line_chart %}{% if i != 1%}, {% endif %} {{stat.partage_count}} {% set i = i + 1 %}{% endfor %} ],
                    borderWidth: 1
                },
                {
                  label: 'Utilisateurs',
                  fill: false,
                  backgroundColor: '#4CAF50',
                  borderColor: '#4CAF50',
                  data: [{% set i = 1 %}{% for stat in data_line_chart %}{% if i != 1%}, {% endif %} {{stat.nb_player}} {% set i = i + 1 %}{% endfor %} ],
                  borderWidth: 1
              }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        distribution: 'series',
                        time: {
                            unit: "day",
                            displayFormats: {
                                day: "DD MMM"
                            },
                            tooltipFormat: "DD MMM"
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:false
                        }
                    }]
                },
                tooltips: {
                    intersect: true,
                    mode: 'index',
                    axis: 'y'
                }
            }
        });


        var ctx_doughnut = document.getElementById("doughnutChart").getContext('2d');
        data = {
            datasets: [{
                data: [{% for data in data_pie %}{{data.nb_test_done}}, {% endfor %}],
                backgroundColor: [
                    "#82AF6F","#CB6FD7","#3E6FBD","#f0ad4e",
                ]
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
              {% for data in data_pie %}'{{data.lang}}', {% endfor %}

            ]
        };

        options = {
                responsive: true
            };

        // For a pie chart
        var myPieChart = new Chart(ctx_doughnut,{
            type: 'doughnut',
            data: data,
            options: options
        });


      </script>

      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul id="myTab" class="nav nav-tabs" role="tablist" style="margin-bottom: 15px;">
          <li role="presentation" class="active">
            <a href="#line_chart_div" id="" aria-controls="line_chart_div" role="tab" data-toggle="tab">
              Vue d'ensemble
            </a>
          </li>
          <li role="presentation" class="">
            <a href="#regions_div_test" id="" aria-controls="regions_div_test" role="tab" data-toggle="tab">
              Tests effectués par zone
            </a>
          </li>
          <li role="presentation" class="">
            <a href="#regions_div_share" id="" aria-controls="regions_div_share" role="tab" data-toggle="tab">
              Taux de partage par zone
            </a>
          </li>
          <li role="presentation" class="">
            <a href="#regions_div_user_tab" id="" aria-controls="regions_div_user_tab" role="tab" data-toggle="tab">
              Utilisateurs par zone
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="line_chart_div">
            <div style="width:75%; display:inline-block;">
              <canvas id="line_chart" width="400" height="120"></canvas>
            </div>
            <div style="width:24%; display:inline-block;">
              <canvas id="doughnutChart" ></canvas>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="regions_div_test"></div>
          <div role="tabpanel" class="tab-pane" id="regions_div_share"></div>
          <div role="tabpanel" class="tab-pane" id="regions_div_user_tab">
            <div class="col-sm-8" id="regions_div_user" style="padding: 0;">

            </div>

            <div class="col-sm-4" style="padding: 0; margin-top: -15px;">
              <table id="countries_players" class="table table-striped table-condensed" cellspacing="0" width="100%" style="padding: 0;">
                <thead>
                  <tr>
                    <!--th width="2%"></th-->
                    <th width="65%">Pays</th>
                    <th width="15%">U.</th>
                    <th width="20%" class="th-percent">% U. </th>
                  </tr>
                </thead>
                <tbody>
                  {% set i = 1 %}
                  {% for country in data_players_countries %}
                    <tr class="">
                      <!--td style="float: right;"> {{i}} </td-->
                      <td class="title-test"> {{ country.country_name_fr }}</td>
                      <td> {{ country.nb_players }}</td>
                      <td>
                        <div class="progress">
                            <span style="width: {{ country.taux_nb_players}}%;" class="progress-bar progress-bar-warning" aria-valuenow="{{ country.taux_nb_players}}" aria-valuemin="0" aria-valuemax="100"></span>
                            <span class="progress-percent">
                              {{ country.taux_nb_players}} %
                            </span>
                        </div>
                      </td>
                    </tr>
                    {% set i = i +1 %}
                  {% endfor %}


                </tbody>
              </table>

                <script type="text/javascript" language="javascript" class="init">
                  $(document).ready(function() {
                  $('#countries_players').DataTable({
                    "order": [[ 1, "desc" ]],
                     "bAutoWidth": false,
                    searching: false,
                    "language": {
                      "lengthMenu": "",
                      "zeroRecords": " ",
                      "info": "",
                      "infoEmpty": "Aucune test trouvé",
                      "infoFiltered": ""
                    }
                    });
                  });
                </script>

            </div>

          </div>
        </div>

      </div>
</div>

<div class="panel panel-default" style="clear: both;">
  <!-- Default panel contents -->
  <div class="panel-heading">Meilleurs tests (par nombre de tests effectués)</div>

  <table id="liste_test" class="table table-striped table-condensed" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th width="2%"></th>
        <th width="60%">Titre</th>
        <th width="15%">Testés </th>
        <th width="23%" class="th-percent">% Testés </th>
      </tr>
    </thead>
    <tbody>
      {% set i = 1 %}
      {% for test in data_best_tests %}
          <tr class="pointer" onclick="showForOneTest('{{test.titre_test|addslashes}}',{{test.test_id}})">
            <td style="float: right;"> {{ i }} </td>
            <td class="title-test"> {{ test.titre_test}}</td>
            <td> {{ test.nb_test_done }} </td>
            <td>
              <div class="progress">
                <span style="width: {{test.taux_test}}%; " class="progress-bar progress-bar-warning" aria-valuenow="{{test.taux_test}} " aria-valuemin="0" aria-valuemax="100"></span>
                <span class="progress-percent">
                  {{test.taux_test}}    %
                </span>
              </div>
            </td>
          </tr>
          {% set i = i + 1 %}
      {% endfor %}

    </tbody>
  </table>

  <div class="spacer"></div>

  <div class="panel-heading">Meilleurs tests (par taux de partage) </div>

  <table id="liste_test2" class="table table-striped table-condensed" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th width="2%"></th>
        <th width="46%">Tests</th>
        <th width="8%">T.</th>
        <th width="8%">T.U.</th>
        <th width="8%">P.</th>
        <th width="10%">% P</th>
        <th width="8%">P.U.</th>
        <th width="10%">% P.U.</th>
      </tr>
    </thead>
    <tbody>
      {% set i = 1%}
      {% for test in data_best_shares%}
        <tr class="pointer" onclick="showForOneTest('{{test.titre_test|addslashes}}',{{test.test_id}})">
          <td style="float: right;">{{i}}</td>
          <td class="title-test">{{test.titre_test}}</td>
          <td>{{test.nb_test_done}}</td>
          <td>{{test.nb_test_unique_done}}</td>
          <td>{{test.nb_share}}</td>
          <td>{{test.taux_share}} %</td>
          <td>{{test.nb_share_unique}}</td>
          <td>{{test.taux_share_unique}} %</td>
        </tr>
        {% set i = i + 1 %}
      {% endfor %}

    </tbody>
  </table>

</div>
<div class="nb-footer">
  <span class="exposant">*</span><span class="nb"> Les tests affichés sont ceux qui ont au moins été effectués 10 fois.</span>
  <span class="see-more" onclick="showForTests();">Afficher le rapport complet </span>
</div>




<div class="panel panel-default ">
  <!-- Default panel contents -->
  <div class="panel-heading">Données géographiques </div>

  <table id="liste_test" class="table table-striped table-condensed small-half-width-left" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th width="2%"></th>
        <th width="48%">Pays</th>
        <th width="20%">T.</th>
        <th width="30%" class="th-percent">% T. </th>
      </tr>
    </thead>
    <tbody>
      {% set i = 1 %}
      {% for country in data_best_tests_countries %}
        <tr class="pointer" onclick="showForOneCountry('{{country.country_name|addslashes}}','{{country.country_code}}')">
          <td style="float: right;"> {{i}} </td>
          <td class="title-test"> {{ country.country_name }}</td>
          <td> {{ country.nb_test_done }}</td>
          <td>
            <div class="progress">
                <span style="width: {{ country.taux_test}}%;" class="progress-bar progress-bar-warning" aria-valuenow="{{ country.taux_test}}" aria-valuemin="0" aria-valuemax="100"></span>
                <span class="progress-percent">
                  {{ country.taux_test}} %
                </span>
            </div>
          </td>
        </tr>
        {% set i = i +1 %}
      {% endfor %}


    </tbody>
  </table>


  <table id="liste_contries" class="table table-striped table-condensed small-half-width-right" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th width="2%"></th>
        <th width="30%">Pays</th>
        <th width="10%">T.</th>
        <th width="10%">T.U.</th>
        <th width="10%">P.</th>
        <th width="14%">% P.</th>
        <th width="10%">P.U.</th>
        <th width="14%">% P.U.</th>
      </tr>
    </thead>
    <tbody>
      {% set i = 1%}
      {% for country in data_best_shares_countries %}
        <tr class="pointer" onclick="showForOneCountry('{{country.country_name|addslashes}}','{{country.country_code}}')">
          <td>{{ i }}</td>
          <td class="name-country">{{ country.country_name}}</td>
          <td>{{country.nb_test_done}}</td>
          <td>{{country.nb_test_unique_done}}</td>
          <td>{{country.nb_share}}</td>
          <td>{{country.taux_share}} %</td>
          <td>{{country.nb_share_unique}}</td>
          <td>{{country.taux_share_unique}}  %</td>
        </tr>
        {% set i = i + 1 %}
      {% endfor %}

    </tbody>
  </table>
  <div class="hidden-sm hidden-md hidden-lg">
    <table id="countries_players_2" class="table table-striped table-condensed " cellspacing="0" width="100%" style="padding: 0;">
      <thead>
        <tr>
          <!--th width="2%"></th-->
          <th width="65%">Pays</th>
          <th width="15%">U.</th>
          <th width="20%" class="th-percent">% U. </th>
        </tr>
      </thead>
      <tbody>
        {% set i = 1 %}
        {% for country in data_players_countries %}
          <tr class="">
            <!--td style="float: right;"> {{i}} </td-->
            <td class="title-test"> {{ country.country_name_fr }}</td>
            <td> {{ country.nb_players }}</td>
            <td>
              <div class="progress">
                  <span style="width: {{ country.taux_nb_players}}%;" class="progress-bar progress-bar-warning" aria-valuenow="{{ country.taux_nb_players}}" aria-valuemin="0" aria-valuemax="100"></span>
                  <span class="progress-percent">
                    {{ country.taux_nb_players}} %
                  </span>
              </div>
            </td>
          </tr>
          {% set i = i +1 %}
        {% endfor %}


      </tbody>
    </table>

      <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function() {
        $('#countries_players_2').DataTable({
          "order": [[ 1, "desc" ]],
          searching: false,
          "language": {
            "lengthMenu": "",
            "zeroRecords": " ",
            "info": "",
            "infoEmpty": "Aucune test trouvé",
            "infoFiltered": ""
          }
          });
        });
      </script>
   </div>


</div>
<div class="nb-footer">
  <span class="exposant">*</span><span class="nb"> Les tests affichés sont ceux qui ont au moins été effectués 10 fois.</span>
  <span class="see-more" onclick="showForContries();">Afficher le rapport complet </span>
</div>
