
<!DOCTYPE HTML>
<html>

 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <title>Connexion</title>
   <link href="{{ domain_url }}/src/css/bootstrap.css" rel="stylesheet">
   <link href="{{ domain_url }}/src/css/fontawesome/css/font-awesome.min.css" rel="stylesheet">
   <link href="{{ domain_url }}/src/css/added-style.css" rel="stylesheet">
   <style>
       .white{
           color:#000;
           background-color:#fff;
       }

       .btn-facebook {
           color: #ffffff;
           -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
           text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
           background-color: #2b4b90;
           *background-color: #133783;
           background-image: -moz-linear-gradient(top, #3b5998, #133783);
           background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
           background-image: -webkit-linear-gradient(top, #3b5998, #133783);
           background-image: -o-linear-gradient(top, #3b5998, #133783);
           background-image: linear-gradient(to bottom, #3b5998, #133783);
           background-repeat: repeat-x;
           border-color: #133783 #133783 #091b40;
           border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
           filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
           filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
       }

       .btn-facebook:hover,
       .btn-facebook:focus,
       .btn-facebook:active,
       .btn-facebook.active,
       .btn-facebook.disabled,
       .btn-facebook[disabled] {
           color: #ffffff;
           background-color: #133783 !important;
           *background-color: #102e6d !important;
       }

       .btn-facebook:active,
       .btn-facebook.active {
           background-color: #0d2456 \9 !important;
       }
       .vertical-center {
         min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
         min-height: 100vh; /* These two lines are counted as one :-)       */

         display: flex;
         align-items: center;
       }
       .panel-title{
           font-size: 24px;
       }

   </style>
 </head>

 <body>
   <div class="container">
       <div class="row vertical-center">
           <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 " >
         <div class="block center">
             <div class="alert alert-success alert-dismissable " style="display:none" id="alert-success">
               <button type="button" class="close" data-dismiss="alert">&times;</button>
              Connexion réussie !
             </div>
           </div>
           <div class="block center">
               <div class="alert alert-danger alert-dismissable " style="display:none" id="alert-danger">
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 Connexion échouée !
               </div>
           </div>
           <div class="block center">
            {% if disconnected %}
               <div class="alert alert-info alert-dismissable " >
                 <button type="button" class="close" data-dismiss="alert">&times;</button>
                 Vous etes déconnecté(e) !
               </div>
              {% endif %}
           </div>
             <div class="block ">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <center><h2 class="panel-title">Funizi</h2></center>
               </div>
                 <div class="panel-body">
                           <center><h5>Connectez-vous pour créer vos propres tests</h5></center>
                           <center><h6>Simple ! Gratuit ! Sécurisé ! </h6></center>
                           <hr/>
                           <button type="button"  id="btn_log_fb" onClick="seConnecterFacebook();" class="btn btn-lg btn-facebook btn-block" >
                               <i class="fa fa-facebook-official" ></i>  &nbsp;&nbsp;Se connecter avec facebook
                           </button>
                 </div>
             </div>
           </div>
           </div>
     </div>



   </div>
   <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
   <script src="https://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>

   <script src="{{ domain_url }}/src/js/facebook-connect.js?v=1.41"></script>
   <script src="{{ domain_url }}/src/js/bootstrap.min.js"></script>
 </body>
</html>
