{% extends 'templates/layout.twig' %}
{% block title %}{{interface_ui.title_home_citation | capitalize}}{% endblock %}
{% block graph %}
    <!--FACEBOOK-->
  {% if id_shared_citation !='' %}
    <link rel="canonical" href="{{ domain_url }}/citations/ref/{{ id }}">
    <meta property="og:title" content="{{ interface_ui.label_share_title_quote }} 👉 Clique ici !" />
    <meta property="og:site_name" content="Funizi" />
    <meta property="og:url" content="{{ domain_url }}/citation/ref/{{ id }}" >
    <meta property="og:description" content="{{interface_ui.label_share_prefixe_2 | capitalize}}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="800"/>
    <meta property="og:image:height" content="420"/>
    <meta property="og:image" content="{{storage_base}}/images/{{ img_shared_citation }}" />
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="{{fb_app_id}}">
  {% endif %}
{% endblock %}
{% block googletagmanager %}
<script>
  dataLayer = [{
    'pageCategory': 'home'
  }];
</script>
{% endblock %}
{% block banner_mobile_top %}
    {% include 'banners/banner_320x100_top.twig' %}
{% endblock %}


{% block content %}

  <!-- /New Test Button -->
  <div class="col-lg-12">
          {{ flash.getMessage('invalid_test')[0] }}
  </div>
  {% if pagecount > 1 %}
    <div class="row text-center">
        <ul class="text-center pager" style="">
            {% if pageid == 1 %}
                <li class="btn-next">
                    <a href="{{ domain_url }}/quizz/page/{{ pageid + 1 }}"  class="btn_to_track" data-btn="next">{{interface_ui.btn_next | capitalize}} <i class="fa fa-arrow-right"></i></a>
                </li>
            {% elseif pageid == pagecount %}
                <li class="btn-prev">
                    <a href="{{ domain_url }}/quizz/page/{{ pageid - 1 }}"  class="btn_to_track" data-btn="previous"><i class="fa fa-arrow-left"></i> {{interface_ui.btn_previous | capitalize}}</a>
                </li>
                <li>
                    <a href="{{ domain_url }}/quizz/page/{{ pageid + 1 }}"  class="btn_to_track" data-btn="next">{{interface_ui.btn_next | capitalize}} <i class="fa fa-arrow-right"></i></a>
                </li>
            {% else %}
                <li class="btn-prev">
                    <a href="{{ domain_url }}/quizz/page/{{ pageid - 1 }}"  class="btn_to_track" data-btn="previous"><i class="fa fa-arrow-left"></i> {{interface_ui.btn_previous | capitalize}}</a>
                </li>
                <li>
                    <a href="{{ domain_url }}/quizz/page/{{ pageid + 1 }}"  class="btn_to_track" data-btn="next">{{interface_ui.btn_next | capitalize}} <i class="fa fa-arrow-right"></i></a>
                </li>
            {% endif %}
        </ul>
    </div>
  {% endif %}

  {% set i = 0 %}
  {% set j = 0 %}
  <div class="row">
  {% for playbuzz in data_playbuzz %}
        {% if is_mobile() or is_tablet() %}

            <div class="col-md-6 portfolio-item">
                  <div class="border_gallery_responsive" data-playbuzz-id="{{playbuzz.id_playbuzz}}">
                      <img class="img-responsive" src="{{ storage_base }}/images{{ playbuzz.url_image_playbuzz |trim('.', 'left') }}" alt="image du playbuzz" style="">
                      <span class="mobile-layer"></span>
                    <a href="{{ domain_url }}/quizz/{{playbuzz.titre_playbuzz | twig_title_url(playbuzz.id_playbuzz, lang)}}/{{playbuzz.id_playbuzz}}" data-btn="btn-test" class="test__link"></a>
                  </div>
                  <div  class="test-title-gallery">
                    <a href="{{ domain_url }}/quizz/{{playbuzz.titre_playbuzz | twig_title_url(playbuzz.id_playbuzz, lang)}}/{{playbuzz.id_playbuzz}}" class="" ><span style="font-size:15px;">{{ playbuzz.titre_playbuzz }}</span></a>
                  </div>
            </div>

        {% else %}
          <div class="col-sm-6 col-md-4 portfolio-item-gallery">
                <div class="border_gallery" >
                    <img class="img-responsive" src="{{ storage_base }}/images{{ playbuzz.url_image_playbuzz |trim('.', 'left') }}" alt="image du playbuzz" style="width: 100%; height: 100%; object-fit: cover; object-position: 0 30%;">
                    <span class="mobile-layer"></span>
                    <!-- <a href="{{ path_for('single', { 'id': playbuzz.id_playbuzz, 'name': playbuzz.titre_playbuzz | twig_clean_url }) }}" class="test__link" data-btn="btn-test"></a> -->
                    <a href="{{ domain_url }}/quizz/{{playbuzz.titre_playbuzz | twig_title_url(playbuzz.id_playbuzz, lang)}}/{{playbuzz.id_playbuzz}}" class="test__link" data-btn="btn-test"></a>

                </div>
                <div  class="test-title-gallery">
                  <a href="{{ domain_url }}/quizz/{{playbuzz.titre_playbuzz | twig_title_url(playbuzz.id_playbuzz, lang)}}/{{playbuzz.id_playbuzz}}" ><span style="font-size:14px;">{{ playbuzz.titre_playbuzz }}</span></a>
                </div>
          </div>
          {% set i = i+1 %}
          {% if i == 3 %}
              <!--/div>
              <div class="row"-->
          {% endif %}
        {% endif %}
  {% endfor %}
  </div>

  {% if pagecount > 1 %}
      <div class="text-center">
          <ul class="text-center pager" style="margin-top:10px;">
              {% if pageid == 1 %}
                  <li class="btn-next">
                      <a href="{{ domain_url }}/quizz/page/{{ pageid + 1 }}"  class="btn_to_track" data-btn="next">{{interface_ui.btn_next | capitalize}} <i class="fa fa-arrow-right"></i></a>
                  </li>
              {% elseif pageid == pagecount %}
                  <li class="btn-prev">
                      <a href="{{ domain_url }}/quizz/page/{{ pageid - 1 }}"  class="btn_to_track" data-btn="previous"><i class="fa fa-arrow-left"></i> {{interface_ui.btn_previous | capitalize}}</a>
                  </li>
                  <li>
                      <a href="{{ domain_url }}/quizz/page/{{ pageid + 1 }}"  class="btn_to_track" data-btn="next">{{interface_ui.btn_next | capitalize}} <i class="fa fa-arrow-right"></i></a>
                  </li>
              {% else %}
                  <li class="btn-prev">
                      <a href="{{ domain_url }}/quizz/page/{{ pageid - 1 }}"  class="btn_to_track" data-btn="previous"><i class="fa fa-arrow-left"></i> {{interface_ui.btn_previous | capitalize}}</a>
                  </li>
                  <li>
                      <a href="{{ domain_url }}/quizz/page/{{ pageid + 1 }}"  class="btn_to_track" data-btn="next">{{interface_ui.btn_next | capitalize}} <i class="fa fa-arrow-right"></i></a>
                  </li>
              {% endif %}
          </ul>
      </div>
  {% endif %}

  {% if is_mobile() or is_tablet()  %}
      <div class="" style="margin:10px auto 10px">
          {% set banner = random(['banners/banner_360x300_responsive_bottom.twig', 'banners/banner_300x250_bottom.twig']) %}
          {% include  banner %}
      </div>
  {% endif %}
{% endblock %}
