<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Theme 1</title>
    <style>
        body{
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        div.theme_2_resultat {
            position: absolute;
            width: 800px;
            height:420px;
            margin: 0 ; padding: 0px ; border:0;
        }
        .theme_2_img_profil, .theme_2_img_resultat{
            height:420px;
            position: absolute;
        }
        .theme_2_img_profil{
            top:0;
            left:0;
            width:420px;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
        .theme_2_img_resultat{
            top:0;
            left: 250px;
            width:550px;
        }
        .mask_theme_2 {
            -webkit-mask-image: linear-gradient(to right, transparent 8%, black 30%);
            mask-image: linear-gradient(to right, transparent 8%, black 30%);
        }
        .theme_2_texte_resultat{
            width: 430px;
            height: 350px;
            font-size : 40px;
            position: absolute;
            padding :50px 30px 20px 340px ;
            background: transparent;
            /*text-shadow: 0 -2px 0 rgba(59,79,131,.5);*/
            text-shadow: 1px 2px 3px rgba(0,0,0, 0.5);
            background-image: linear-gradient(rgba(0,0,0,.55),transparent 130%);
            color: #FFF;
            text-align: center;

        }
        .theme_2_nom_user{
            text-transform: uppercase;
            font-size : 35px;
            position: absolute;
            color: #FFF;
            text-align: center;
            bottom: 40px;
            left: 350px;
            width: 450px;
            text-shadow: 1px 2px 3px rgba(0,0,0, 0.5);
        }
    </style>
    <script src="{{ base_url }}/src/js/jquery.js"></script>
    <script>
        $(document).ready(function(){
            var name = $(".theme_2_nom_user");
            var title = $(".theme_2_texte_resultat");
            while(name.find("span").width() > name.width() - 5) {
                var currentFontSizename = parseInt(name.find("span").css("font-size"));
                //console.log(currentFontSizename);
                name.find("span").css("font-size",currentFontSizename-1);
            }
            while(title.find("span").width() > title.width() - 5 || title.find("span").height() > 240) {
                var currentFontSize = parseInt(title.find("span").css("font-size"));
                console.log(currentFontSize);
                title.find("span").css("font-size",currentFontSize-1);
            }
        });
    </script>
</head>
<body style="margin:0; padding:0; overflow: hidden;">

<div class='theme_2_resultat'>
    <img class='theme_2_img_profil' src="https://graph.facebook.com/{{ user_id }}/picture?height=420&width=420">
    <img class='theme_2_img_resultat mask_theme_2' src="{{ base_url }}/creation-test/images-tests/{{ img_url }}">
    <div class="theme_2_texte_resultat">
        <span>
       		{{ texte | nl2br }}
        </span>
    </div>
    <div class="theme_2_nom_user">
        <span>
            {{ name }}
        </span>
    </div>
</div>
</body>
</html>
