{% extends 'templates/layoutCreationTest.twig' %}
{% block title %} A/B Testing {% endblock %}
{% block additionalstyle %}
  <style>
    .hidden_{
        display: none;
  }
  #liste_test{
      font-size: 12px;
  }
  </style>
{% endblock %}

{%block content%}



    <div class="row">
         <table id="liste_test" class="table table-bordered table-striped table-condensed" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Versions</th>
                    <th>Périodes</th>
                    <th>Tests</th>
                    <th>T/U</th>
                    <th>Partage</th>
                    <th>P%</th>
                </tr>
            </thead>
            <tbody id="more">
              {% for data in all_data.data_count %}
                <tr>
                  <td > {{data.ab_testing | upper}} </td>
                  <td > {{all_data.start}}{% if all_data.start != all_data.end %} au {{all_data.end}}{% endif %} </td>
                  <td > {{data.tests_count}}</td>
                  <td > {{data.taux}}</td>
                  <td > {{data.shares_count}}</td>
                  <td > {{data.taux_partage}}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}



{% block additionalfooter %}

  <script src="{{ base_url() }}/src/js/alltest.js?v=1.0002"></script>

  <script type="text/javascript" language="javascript" src="{{ domain_url }}/src/js/DataTables/jquery.dataTables.js"></script>
  <script type="text/javascript" language="javascript" src="{{ domain_url }}/src/js/DataTables/dataTables.bootstrap.js"></script>
  <script type="text/javascript" language="javascript" class="init">
    $(document).ready(function() {
        $('#liste_test').DataTable( {
            "order": [[ 0, "asc" ]],
            "language": {
               "lengthMenu": "Afficher  _MENU_  tests par page",
               "zeroRecords": "Aucun test trouvé ! ",
               "info": "Voir page _PAGE_ à _PAGES_ ( test _START_ à _END_ sur _TOTAL_ )",
               "infoEmpty": "Aucun test trouvé",
               "infoFiltered": "(recherche effectuée sur _MAX_ tests)"
             }
        } );
        $('[data-toggle="tooltip"]').tooltip();


    } );



  </script>
{%endblock%}
