{% extends 'templates/layoutCreationTest.twig' %}
{% block title %} Tous les tests {% endblock %}
{% block additionalstyle %}
    <link href="{{domain_url}}/src/css/filterizr/index.css?v=1.1007" rel="stylesheet">
    <style>
    .hidden_{
        display: none;
    }
    </style>
{% endblock %}

{%block content%}
  <div class="row">
    <div class="put-left">
       <!-- A basic setup of simple mode filter controls, all you have to do is use data-filter="all" 	for an unfiltered gallery and then the values of your categories to filter between them -->
       <ul class="simplefilter">
         <li class="active" id="btn_init" data-filter="all">Tous</li>
          {% for theme in themes %}
            <li id="btn_theme_{{theme.id}}" data-filter="{{theme.id}}">{{theme.title}}</li>
          {% endfor%}
         </ul>
     </div>
     <div class="put-right">
       <!-- Shuffle & Sort Controls -->
         <ul class="sortandshuffle">
           Ordonner&nbsp;:&nbsp;
           <!-- Basic sort controls consisting of asc/desc button and a select -->
           <li class="sort-btn active" data-sortAsc>Asc</li>
           <li class="sort-btn" data-sortDesc>Desc</li>
         &nbsp;par&nbsp;
           <select data-sortOrder>
             <option value="domIndex">
               Date
             </option>
             <option value="sortData">
               Test
             </option>
           </select>
           <!-- Basic shuffle control -->
           <li class="shuffle-btn" data-shuffle>Mélanger</li>
         <!-- Search control -->
         <input type="text" class="filtr-search" name="filtr-search" placeholder="Rechercher un test " data-search>
         </ul>
     </div>
    </div>

    <div class="row">
     <!-- This is the set up of a basic gallery, your items must have the categories they belong to in a data-category
     attribute, which starts from the value 1 and goes up from there -->
       <div class="filtr-container" id="filtr_container">
               <input type="hidden" value="60"  name="last_img_seen" id="last_img_seen"/>
               {% for data in data_users_tests %}
                 <div class="col-xs-6 col-sm-3 col-md-3 filtr-item" data-category="{{data.theme}}" data-sort="{{data.titre_test}}">
                    <img class="img-responsive" src="{% if data.ab_testing != 'd' %}{{ storage_base }}{% endif %}{{data.img_url}}" alt="sample image">
                                   {% if data.shared %}
                                      <span style="z-index: 3; position:absolute; bottom: 1.5rem; left: 1.5rem;"><a href="https://www.facebook.com/{{data.facebook_id}}" target="_blank"> <img src="https://icon-icons.com/icons2/642/PNG/32/facebook_icon-icons.com_59205.png" /></a> </span>
                                      <span class="stat"> <i class="fa fa-mouse-pointer" aria-hidden="true"></i> {{data.nb_clics}}  </span>
                                  {% endif %}
                                   <span class="item-desc">
                                      {{data.titre_test}}
                                      <br />
                                      {{data.day}} {{data.hour}}
                                   </span>
                   <span style="clear:both;"></span>
                 </div>
               {% endfor %}
         </div>
       </div>


      <!-- Bouton charger plus d'images-->
      <div class="row">
          <div class="form-group col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-4 col-md-4 col-sm-4">
              <button type="button" id="btn_show_more" class="form-control btn btn-info" ><span class="glyphicon glyphicon-refresh"></span> Voir plus de résultats </button>
          </div>
      </div>


      <!-- Bouton enregistrer un test-->

{% endblock %}



{% block additionalfooter %}
  <script src="{{domain_url}}/src/js/filterizr/jquery.filterizr.min.js"></script>
  <script src="{{domain_url}}/src/js/filterizr/controls.js"></script>
  <!-- Kick off Filterizr -->
	<script type="text/javascript">
  	$(document).ready(function(){
          var lastImgSeen = 40;
          var numberOfImg = 40;
  		console.log("init");
  		$(function() {
  			//Initialize filterizr with default options
  			$('.filtr-container').filterizr();
  		});
  		$("#btn_theme_1").click();
  		$("#btn_init").click();

  		$("#btn_show_more").click(function () {

              $.ajax({
                  url: "/action/showmoreresults?last="+lastImgSeen+"&nb="+numberOfImg,
                  type: "GET",
                  processData: false,
                  contentType: false,
                  beforeSend: function(){
      				$("#btn_show_more").prop("disabled", true);
                      $("#btn_show_more").html("<img src='{{domain}}/src/img/91.gif' > Chargement en cours ");
      				$("#btn_show_more").css("color","#000");
                  }
                  }).done(function( data ) {
                      $("#btn_show_more").html("<span class='glyphicon glyphicon-refresh'></span> Voir plus de résultats ");
                      $("#btn_show_more").css("color","#FFF");
                      $("#btn_show_more").prop("disabled", false);
                      lastImgSeen = lastImgSeen + 40;
                      $("#filtr_container").append(data);
                      $('.filtr-container').filterizr();

                  });
  		});
  	});
	</script>

{% endblock %}
