{% extends 'templates/layoutCreationTest.twig' %}
{% block title %} Créer un test {% endblock %}
{% block additionalstyle %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <style>
      #theme-perso{position: relative; width: 804px; height: 424px; overflow:hidden;}
      #theme-perso img{position:absolute; max-height:420px; max-width:800px; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
{% endblock %}


{%block content%}
<header class="row">
    <div class=" col-lg-12 col-md-12">
        <h4 style="text-align:center">Créer une nouvelle citation</h4>
    </div>
</header>

<div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
       <div class="alert alert-success alert-dismissable " style="display:none;">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         Votre citation a été enregistrée avec succès !
       </div>
     </div>
    </div>


      <form class="col-lg-12 " id="ajout_citation_form" name="ajout_citation_form" enctype="multipart/form-data">
        <!-- Informations générales sur le test  -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">1. Entrer les informations générales du test</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <section class="col-sm-6">
                <legend>Tous les champs sont requis</legend>
                <div class="form-group ">
                  <label class="control-label" for="titre">Titre de la citation:</label>
                  <input type="text" id="titre" name="titre" value="" placeholder="Veuillez entrer un titre sympa pour votre citation!" class="form-control">
                </div>
                <div class="form-group">
                  	<label class="control-label" for="rubrique">Rubrique :</label>
                  	<select type="text" id="rubrique" name="rubrique" value="" class="form-control">
                      {% for rubrique in rubriques %}
                        <option value="{{rubrique.id_rubrique}}">{{rubrique.titre_rubrique}}</option>
                      {% endfor %}
					          </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="langs">Langue de la citation :</label>
                    <select class="select-langs form-control" id="default_lang" name="default_lang">
                        {% for lang in langs %}
                          <option value="{{lang.code}}"  {% if lang.code == 'fr' %}selected{% endif %}> {{lang.name}} ({{lang.fr_name}})</option>
                        {% endfor %}
                    </select>
                </div>
              </section>

              <section class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="localtite">Localité :</label>
                    <select class="select-pays form-control" multiple="multiple" id="localite" name="localite[]">
                        {% for country in countries %}
                          <option value="{{country.alpha2}}"> {{country.alpha2}} - {{country.langFR}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" name="if_translated" id="if_translated" value="1" checked> Cette citation est à traduire pour toutes les langues activées.  </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" name="if_personalizable" id="if_personalizable" value="1" > Cette citation peut être personnalisée.  </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="explication_resultat">Texte pour la citation :</label>
                    <textarea id="texte_for_share"  name="texte_for_share" value=""  placeholder="" rows="5"     class="form-control noresize "><strong>De beaux et sages conseils.</strong></textarea>
                </div>
              </section>
              <section class="col-sm-12">
                  <legend>Edition du thème</legend>

                  <div class="form-group nopaddingleft nopaddingright col-lg-12 col-sm-12 col-xs-12 ">

                      <div class="panel panel-default">
                          <div class="panel-heading">
                               Options
                              <button type="button" id="" title="Prévisualier le résultat" onclick="preview()" class="btn btn-default btn-xs pull-right" > <i class="fas fa-eye" ></i></button>
                              <button type="button" id="" title="Télécharger une image" data-toggle="modal"  data-target="#modalOpenImagePerso" class="btn btn-default btn-xs pull-right"  style="padding:0 10px;"> <i class="far fa-image"></i></button>
                              <button type="button" id="btnModalAddTexte" title="Ajouter un texte" data-toggle="modal"  data-target="#modalAddText" class="btn btn-default btn-xs pull-right" > <i class="fas fa-font"></i></button>
                              <button type="button" id="btnPutTranslateTag" title="A traduire"  class="btn btn-default btn-xs pull-right" style="border-color:#1565C0; " > <i class="fas fa-language"></i></button>
                              <button type="button" id="" title="Initialiser l'éditeur"  class="btn btn-default btn-xs pull-right" > <i class="fa fa-file" aria-hidden="true"></i> </button>
                          </div>
                          <div class="panel-body">
              	  			<div role="tabpanel">

                  	  			  <!-- Nav tabs -->
      	  			            <ul id="editor-theme" class="nav nav-tabs" role="tablist" style="margin-bottom: 15px;">
                  	  			    <li role="presentation" class="active">
                                        <a href="#tab_html" aria-controls="tab_html" role="tab" data-toggle="tab">
                                            <span class="pull-left"> PHP/HTML </span>
                                            <button type="button" id="" title="Répeter" onclick="editorHTML.redo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-repeat" aria-hidden="true"></i> </button>
                                            <button type="button" id="" title="Annuler" onclick="editorHTML.undo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-undo" aria-hidden="true"></i> </button>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab_css" aria-controls="tab_css" role="tab" data-toggle="tab">
                                            <button type="button" id="" title="Répeter" onclick="editorCSS.redo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-repeat" aria-hidden="true"></i> </button>
                                            <button type="button" id="" title="Annuler" onclick="editorCSS.undo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-undo" aria-hidden="true"></i> </button>
                                            <span class="pull-left"> CSS </span>

                                        </a>
                                    </li>
                  	  			    <li role="presentation">
                                        <a href="#tab_js" aria-controls="tab_js" role="tab" data-toggle="tab">
                                            <button type="button" id="" title="Répeter" onclick="editorJS.redo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-repeat" aria-hidden="true"></i> </button>
                                            <button type="button" id="" title="Annuler" onclick="editorJS.undo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-undo" aria-hidden="true"></i> </button>
                                            <span class="pull-left"> JS </span>
                                        </a>
                                    </li>
                  	  			    <li role="presentation">
                                        <a href="#tab_require_top" aria-controls="tab_require_top" role="tab" data-toggle="tab">
                                            <button type="button" id="" title="Répeter" onclick="editorRequireTop.redo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-repeat" aria-hidden="true"></i> </button>
                                            <button type="button" id="" title="Annuler" onclick="editorRequireTop.undo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-undo" aria-hidden="true"></i> </button>
                                            <span class="pull-left"> Fichiers entre les balises HEAD </span>
                                        </a>
                                    </li>

                  	  			    <li role="presentation">
                                        <a href="#tab_require_bottom" aria-controls="tab_require_bottom" role="tab" data-toggle="tab">
                                            <button type="button" id="" title="Répeter" onclick="editorRequireBottom.redo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-repeat" aria-hidden="true"></i> </button>
                                            <button type="button" id="" title="Annuler" onclick="editorRequireBottom.undo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-undo" aria-hidden="true"></i> </button>
                                            <span class="pull-left"> Fichiers dans le footer </span>
                                        </a>
                                    </li>
                  	  			</ul>

                  	  			  <!-- Tab panes -->
                  	  			<div class="tab-content">
                  	  			    <div role="tabpanel" class="tab-pane active" id="tab_html">
                                        <textarea id="editor_html"  name="" value=""  placeholder="Code HTML"   class="form-control noresize"><!DOCTYPE HTML></textarea>
                                    </div>
                  	  			    <div role="tabpanel" class="tab-pane" id="tab_css">
                                        <textarea id="editor_css"   name="" value=""  placeholder="Code CSS"    class="form-control noresize ">.main{ padding:0;margin:0;width: 800px;height:420px;position: relative;overflow: hidden; background: #FFF;}
.main img{ position:absolute; max-height:420px; max-width:800px; }
                                        </textarea>
                                    </div>
                  	  			    <div role="tabpanel" class="tab-pane" id="tab_js">
                                        <textarea id="editor_js"    name="" value=""  placeholder="Code JS"     class="form-control noresize ">//JavaScript</textarea>
                                    </div>
                  	  			    <div role="tabpanel" class="tab-pane" id="tab_require_top">
                                        <textarea id="editor_require_top"    name="" value=""  placeholder="Fichiers externes à ajouter (Google Fonts, Scripts ...)"     class="form-control noresize "><link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"></textarea>
                                    </div>
                  	  			    <div role="tabpanel" class="tab-pane" id="tab_require_bottom">
                                        <textarea id="editor_require_bottom"    name="" value=""  placeholder="Fichiers externes à ajouter (Google Fonts, Scripts ...)"     class="form-control noresize "></textarea>
                                    </div>
                  	  			</div>
                            </div>
                        </div>
                      </div>
                        <div class="form-group">
                        </div>
                  </div>
                  <script>
                  </script>
                  <legend>Aperçu du thème</legend>
                  <div class="form-group col-md-12 col-sm-12 col-xs-12 " >
                      <div id="theme-perso" class="main">
                          <span style="text-align:center; margin-top:50%"> L'aperçu du thème personnalisé sera visible ici </span>
                      </div>
                  </div>
              </section>
            </div>
          </div>
        </div>

        <!-- Inputs hidden  -->
            <input type="hidden" id="idNextResultat" name="idNextResultat" value="2" class="form-control">
        <!-- END Inputs hidden  -->

        <div class="row">
            <div class="form-group col-lg-12 center">
                <button type="submit"  id="btn_save_citation" class="form-control btn btn-success" style="width: auto;"><span class="glyphicon glyphicon-ok-sign"></span> Mettre la citation en ligne</button>
            </div>
        </div>
    </form>

{%endblock%}


{% block additionalfooter %}
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
  <script src="{{ domain_url }}/src/js/cropit/jquery.cropit.js" ></script>

  <script>
      $(".select-pays").select2();
      $(".select-langs").select2();
      $(".select-addionnalt-info").select2();


      function showAddInfo(){
        if($('#add_additionnal_infos_test').is(':checked')){
          $(".select-addionnalt-info").select2();
          $('#box_add_info').fadeIn('slow');
          $('.select-addionnalt-info').select2({
               placeholder: 'Choissisez une ou plusieurs options',
               width: '100%'
          });
          showAddInfoLabel();
        }
        else{
          $('#box_add_info').fadeOut('slow');
          showAddInfoLabel();
        }
      }

      function showAddInfoLabel(){
        if($('#additional_infos').val() != 0){
          $('#box_add_info_label').fadeIn('slow');
        }
        else{
          $('#box_add_info_label').fadeOut('slow');
        }
      }



      function showImgTreatment(){
        if($('#add_img_treatment').is(':checked')){
          $(".select-addionnal-treatment").select2();
          $('#box_add_treatment').fadeIn('slow');
          $('.select-addionnal-treatment').select2({
               placeholder: 'Choissisez une transformation',
               width: '100%'
          });
        }
        else{
          $('#box_add_treatment').fadeOut('slow');
        }
      }



  </script>
  <div id="modalOpenImagePerso" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajouter une image <img src="{{ domain_url }}/src/img/loading2.gif" style="display:none;" class="img-loading" /></h4>
          <span id="message-error"> </span>
          </div>
        <div class="modal-body">
                    <div class="row">
                        <form name="upload_background" class="form-inline" id="upload_background" type="POST" enctype="multipart/form-data">
                            <input type="file" class="" name="input_background" id="input_background" style="display:none;">
                            <div class="col-sm-offset-0 col-sm-12 center">
                                <div class="form-group ">
                                      <label class="control-label" for="id_image"> </label>
                                      <div class="input-group">
                                          <span class="input-group-addon">Saisir un Id pour l'image : #</span>
                                          <input type="text" id="id_image" name="id_image" value="" class="form-control" >
                                      </div>
                                </div>

                                <div class="form-group ">
                                    puis
                                </div>
                                <button type="button" id="openbackground" class="btn btn-primary btn-sm" disabled>Choisir un fichier </button>
                            </div>
                        </form>
                    </div>

                    <div class="row" id="block_get_code" style="display:none;     margin-top: 20px;">
                        <div class="col-sm-offset-0 col-sm-12 center">
                            <div class="form-group ">
                              <label class="control-label" for="titre">Copiez et collez le code HTML / CSS suivant : </label>
                              <textarea id="code_html_img" name="code_html_img" class="form-control noresize" rows="5" > </textarea>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="initFormAddImg();" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>


  <div id="modalAddText" class="modal fade" role="dialog">

    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ajouter du texte <img src="{{ domain_url }}/src/img/loading2.gif" style="display:none;" class="img-loading" /></h4>

          </div>
        <div class="modal-body">
                <div class="row" id="set-css-text" style="">
                    <div class="col-sm-12 form-group ">
                        Pour le texte :
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group ">
                          <label class="control-label" for="color_text">Id du texte : </label>
                          <input type="text" id="id_text" name="id_text" value="" class="form-control input-sm" >
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group ">
                          <label class="control-label" for="color_text">color  : </label>
                          <input type="text" id="color_text" name="color_text" value="#000" class="form-control input-sm" >
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group ">
                          <label class="control-label" for="font_size_text">font-size (px) : </label>
                          <input type="number" id="font_size_text" name="font_size_text" value="14" class="form-control input-sm" >
                        </div>
                    </div>
                    <hr style="width:100%;">

                    <div class="col-sm-12 form-group ">
                        Pour le block conteneur du texte :
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group ">
                          <label class="control-label" for="background_text">background  : </label>
                          <input type="text" id="background_text" name="background_text" value="transparent" class="form-control input-sm" >
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ">
                          <label class="control-label" for="width_text">width (px) : </label>
                          <input type="number" id="width_text" name="width_text" value="200" class="form-control input-sm" >
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ">
                          <label class="control-label" for="height_text">height (px) : </label>
                          <input type="number" id="height_text" name="height_text" value="50" class="form-control input-sm" >
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ">
                          <label class="control-label" for="padding_text">padding (px) : </label>
                          <input type="number" id="padding_text" name="padding_text" value="5" class="form-control input-sm" >
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ">
                          <label class="control-label" for="text_align_text">text-align : </label>
                          <input type="text" id="text_align_text" name="text_align_text" value="left" placeholder="0" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ">
                          <label class="control-label" for="border_text">border : </label>
                          <input type="text" id="border_text" name="border_text" value="0" placeholder="0" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ">
                          <label class="control-label" for="radius_text">border-radius(px): </label>
                          <input type="number" id="radius_text" name="radius_text" value="0" placeholder="0" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group ">
                          <label class="control-label" for="z_index_text">z-index : </label>
                          <input type="number" id="z_index_text" name="z_index_text" value="1" placeholder="1" class="form-control input-sm">
                        </div>
                    </div>
                </div>

                <div class="row" id="set-css-text-code" style="display:none">
                    <div class="col-sm-12">
                        <div class="form-group ">
                          <label class="control-label" for="titre">Copiez et collez le code HTML / CSS suivant : </label>
                          <textarea name="code_html_text" id="code_html_text" rows="5" cols=""  class="form-control noresize"></textarea>
                        </div>
                    </div>
                </div>

        </div>
        <div class="modal-footer">
          <button type="button" id="btn_charger_text" class="export btn btn-primary" onclick="chargerText();" disabled>Obtenir le code </button>
          <button type="button" class="btn btn-default" onclick="initFormAddText();" id=""data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ domain_url }}/src/js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script id="{{ domain_url }}/src/apercu_js"></script>
  <script src="{{ domain_url }}/src/js/script-theme-perso.js?v=1.946"></script>

  <script src="{{ domain_url }}/src/js/added-scripts.js?v=2.10"></script>
  <script src="{{ domain_url }}/src/js/added-default-script.js?v=1.283"></script>
  <script src="{{ domain_url }}/src/js/bootstrap.min.js"></script>
{% endblock %}
