{% extends 'templates/layoutCreationTest.twig' %}
{% block title %} Modification du test {{test.titre_test}} {% endblock %}
{% block additionalstyle %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <style>
      #theme-perso{position: relative; width: 804px; height: 424px; overflow:hidden;}
      #theme-perso img{position:absolute; max-height:420px; max-width:800px; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
{% endblock %}


{%block content%}
<header class="row">
    <div class=" col-lg-12 col-md-12">
        <h4 style="text-align:center"> Modification du test : {{test.titre_test}}</h4>
    </div>
</header>

<div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
       <div class="alert alert-success alert-dismissable " style="display:none;">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         Votre test a été enregistré avec succès !
       </div>
     </div>
    </div>
    <!-- Séction résultat {0}-->
    <textarea style="display:none" id="resultat_template">
        <section class="col-lg-6 col-sm-12 col-md-6 col-xs-12 " id="le_resultat_{0}" >
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Résultat {0} <button type="button" onclick="enleverResultat({0})" class="close btn-del-resultat" >&times;</button></h3>
                  <div class="form-group block-genre" >
                      <label class="control-label" for="genre{0}">Quel sexe ce résultat concerne-t-il ? :</label><br>
                      <div class="radio-inline">
                        <label><input type="radio" name="genre{0}" value="all" checked><i class="fa fa-venus-mars" aria-hidden="true"></i> N'importe lequel </label>
                      </div>
                      <div class="radio-inline">
                        <label><input type="radio" name="genre{0}" value="masculin" ><i class="fa fa-mars" aria-hidden="true"></i> Masculin </label>
                      </div>
                      <div class="radio-inline">
                        <label><input type="radio" name="genre{0}" value="feminin" ><i class="fa fa-venus" aria-hidden="true"></i> Féminin   </label>
                      </div>
                  </div>

                </div>
                <div class="panel-body ">
                    <input type="hidden" id="id_resultat{0}" name="id_resultat{0}" value="0">
                    <!--div class="form-group">
                        <label class="control-label" for="resultat{0}">Titre du résultat {0} :</label>
                        <input type="text" id="resultat{0}" name="resultat{0}" value="" onkeyup="majApercu({0});" class="form-control titre-resultat"/>
                    </div-->

                    <div class="row">
                        <div class="nopaddingright col-lg-6 col-md-6 col-sm-6 col-xs-6  img-profil">
                            {% if test.id_theme == 1 %}
                                <div class="header-img text-center">
                                    <span >{{cookie_prenom_user}}</span>
                                </div>
                            {% endif %}
                            <img src="https://graph.facebook.com/{{cookie_id_user}}/picture?height=200&width=200" id="" class="img_resulat" />
                        </div>
                        <div class="form-group nopaddingleft col-lg-6 col-md-6 col-sm-6 col-xs-6 img-resulat">
                            {% if test.id_theme == 1 %}
                                <div class="header-img text-center" id="apercu_resultat{0}">
                                    <input type="text" value=""  id="resultat{0}" name="resultat{0}"  placeholder="Nom du résultat" class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12 titre-resultat"/>
                                </div>
                            {% endif %}
                            <img src="{{base_url()}}/src/img/preview.jpg" id="img_resultat_preview_{0}" class="img_resulat" data-toggle="modal"  data-target="#modalOpenImage" onclick="initialisationCropEditor({0});"/>
                            <input type="button" id="btn_crop_{0}"  class="btn btn-primary btn-md btn_add_image_resultat center-block" value="Choisissez une image" data-toggle="modal"  data-target="#modalOpenImage" onclick="initialisationCropEditor({0});" />
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="img_resultat_base_64_{0}" id="img_resultat_base_64_{0}" class="img_base_64" value="" />
                        <!--input type="button" id="btn_crop_{0}" data-toggle="modal"  data-target="#modalOpenImage" onclick="initialisationCropEditor({0});" class="btn btn-primary btn-md btn_add_image_resultat center-block" value="Ajouter une image" /-->
                    </div>
                    {% if test.id_theme == 2 %}
                        <div class="form-group">
                          <label class="control-label" for="texte_resultat{0}">Entrez votre texte :</label>
                          <textarea id="texte_resultat{0}" name="texte_resultat{0}" value="" placeholder="Tapez le texte qui sera affiché dans ce résultat"class="form-control texte-resultat noresize"/>
                        </div>
                    {%endif%}

                    <!--div class="form-group">
                      <label class="control-label" for="texte_resultat{0}">Détails sur le résultat {0} :</label>
                      <textarea id="texte_resultat{0}" name="texte_resultat{0}" value="" class="form-control texte-resultat noresize"/>
                  </div-->

                    <!--div class"form-group col-lg-offset-2 col-lg-8">
                        <img src="https://graph.facebook.com/120092618630394/picture?height=200" id="" class="img_resulat" />
                        <img src="images/preview.jpg" id="img_resultat_preview_{0}" class="img_resulat" />

                        <input type="hidden" name="img_resultat_base_64_{0}" id="img_resultat_base_64_{0}" class="img_base_64" value="" />
                        <div id="apercu_resultat{0}" class="apercu_resultat col-lg-10"> <p> </p></div>
                        <input type="button" id="btn_crop_{0}" data-toggle="modal"  data-target="#modalOpenImage" onclick="initialisationCropEditor({0});" class="btn btn-primary btn-md btn_add_image_resultat center-block" value="Ajouter une image" />
                    </div-->
                </div>
              </div>
        </section>
    </textarea>

    <form class="col-lg-12 " id="modification_test" name="modification_test" action="{{base_url()}}/tests/edit/save" method="POST" enctype="multipart/form-data">
      <!-- Informations générales sur le test  -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="display: inline-block;">1. Entrer les informations générales du test</h3>
          <select class="select-langs_edit pull-right" id="langs_edit" name="langs_edit" style="margin: 0 10px;" {% if test.if_translated == 0 %}disabled {%endif%}>
              <option value="" > -- </option>
              {% for lang in langs %}
                <option value="{{lang.code}}"  {% if lang.code == test.default_lang %} selected{% endif %}> {{lang.name}} ({{lang.fr_name}})</option>
              {% endfor %}
          </select>
          <span class="pull-right">  Modifications effectuées pour la langue :</span>
          <span class="pull-right" id="loader_lang">  </span>
        </div>
        <div class="panel-body">
          <div class="row" id="resultats-to-del">
              <input type="hidden" id="nb_resultats_to_del" name="nb_resultats_to_del" value="0"/>
          </div>

          <div class="row">
            <section class="col-sm-6">
              <legend>Tous les champs sont requis</legend>
              <div class="form-group ">
                  <input type="hidden" id="idTest" name="idTest" value="{{test.id_test}}">
                  <input type="hidden" id="form_name" name="form_name" value="modification_test">
                  <label class="control-label" for="titre">Titre du test:</label>
                  <input type="text" id="titre" name="titre" value="{{test.titre_test}}" class="form-control">
              </div>
              <div class="form-group">
                  <label class="control-label" for="rubrique">Rubrique :</label>
                  <select type="text" id="rubrique" name="rubrique" value="" class="form-control">
                    <option value="">Choisissez une rubrique </option>
                    {% for rubrique in rubriques %}
                      {% if rubrique.id_rubrique == test.id_rubrique %}
                        <option value="{{rubrique.id_rubrique}}" selected>{{rubrique.titre_rubrique}}</option>
                      {% else %}
                        <option value="{{rubrique.id_rubrique}}">{{rubrique.titre_rubrique}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
              </div>
              <div class="form-group">
                  <label class="control-label" for="localtite">Localité :</label>
                  <select class="select-pays form-control" multiple="multiple" id="localite" name="localite[]">
                    {% for country in countries %}
                      {% if country.alpha2 in liste_des_pays %}
                        <option value="{{country.alpha2}}" selected> {{country.alpha2}} - {{country.langFR}}</option>
                      {% else %}
                        <option value="{{country.alpha2}}"> {{country.alpha2}} - {{country.langFR}}</option>
                      {% endif %}
                    {% endfor %}

                  </select>
              </div>
              <!--div class="form-group">
                  <label class="control-label" for="langs">Langues :</label>
                  <select class="select-langs form-control" multiple="multiple" id="langs" name="langs[]">
                      {% for lang in langs %}
                        <option value="{{lang.code}}"> {{lang.name}} ({{lang.fr_name}})</option>
                      {% endfor %}
                  </select>
              </div-->
              <div class="form-group">
                  <label class="control-label" for="langs">Langue du test :</label>
                  <select class="select-langs form-control" id="default_lang" name="default_lang">
                      {% for lang in langs %}
                        <option value="{{lang.code}}"  {% if (not test.default_lang and lang.code=='fr' ) or ( test.default_lang and lang.code == test.default_lang)%} selected{% endif %}> {{lang.name}} ({{lang.fr_name}})</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="form-group">
                  <div class="checkbox">
                      <label><input type="checkbox" name="if_translated" id="if_translated" value="1" {% if test.if_translated == 1 %} checked {% endif %}> Ce test est à traduire pour toutes les langues activées.   </label>
                  </div>
                  <div class="checkbox">
                      <label><input type="checkbox" name="unique_result" id="unique_result" value="1" {% if test.unique_result == 1 %} checked {% endif %}> Ce test peut être effectué plusieurs fois  </label>
                  </div>
                  {% if test.id_theme == 3 or test.id_theme == 4 %}
                      <div class="checkbox">
                          <label><input type="checkbox" name="permissions" id="permissions" value="1" {% if test.permissions == 1 %} checked {% endif %}>  Ce test requiert des autorisations Facebook supplémentaires.  </label>
                      </div>
                      <div class="checkbox">
                          <label><input type="checkbox" name="best_friend" id="best_friend" value="1" {% if themePersoInfo.best_friends == 1 %} checked {% endif %}> Les résultats de ce test proviennent des "best friends" Facebook   </label>
                      </div>
                  {% endif %}
              </div>

              <div class="form-group">
                  <label class="control-label" for="explication_resultat">Texte pour le partage d'un résultat :</label>
                  <textarea id="texte_for_share"  name="texte_for_share" value=""  placeholder="" rows="5" class="form-control noresize ">{{test.test_description}}</textarea>
              </div>

            </section>
            <section class="col-sm-6">
                <input type="hidden" name="img_test_base_64" id="img_test_base_64" value="" />
                {% if test.id_theme == 3 or test.id_theme == 4 %}
                      <div class="form-group nopaddingleft col-lg-12 col-md-12 col-sm-12 col-xs-12 img-resulat">
                          <div class="col-lg-12 nopaddingleft">
                              <label class="control-label" for="titre">Image du test :</label>
                          </div>
                          <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 nopaddingleft">
                              <img src="{{base_url()}}/{{test.url_image_test}}" id="img_test_preview" name="img_test_preview" class="img_resulat " data-toggle="modal"  data-target="#modalOpenImage" onclick="initialisationCropEditor(0);"/>
                              <input type="button" id="btn_crop_1" class="btn btn-primary btn-md btn_add_image_resultat center-block" value="Choisissez une image" data-toggle="modal"  data-target="#modalOpenImage" onclick="initialisationCropEditor(0);" />
                              <input type="hidden" name="img_resultat_base_64_1" id="img_resultat_base_64_1" class="img_base_64" value="noimage" />
                              <input type="hidden" id="id_resultat1" name="id_resultat1" value="{{first_resultat.id_resultat}}">
                          </div>
                      </div>
                {% else %}
                          <legend>Changer le thème de ce test</legend>
                          {% for theme in themes %}
                            <div class="col-md-6 col-xs-6" style="text-align:center;" >
                                <label class="control-label">
                                    <input type="radio" name="newtheme" value="{{theme.id}}" {% if theme.id == test.id_theme %} checked {% else %}onclick="changeTheme({{test.id_test}},{{test.id_theme}},{{theme.id}})" {% endif %}  style="margin-bottom: 10px;"/>
                                    {{theme.title}}  {% if theme.id == test.id_theme %} (actuel) {% endif %}
                                    <img src="{{base_url()}}/src/img/theme{{theme.id}}.jpg" class="img-theme-edit" style="width:100%; {% if theme.id == test.id_theme %} border: 3px solid #1C304F; {% endif %} cursor:pointer; " />
                                </label>
                            </div>
                          {% endfor %}
                  {% endif %}
            </section>


          {% if test.id_theme == 4 %}
              <section class="col-sm-12">

                  <div class="form-group nopaddingleft nopaddingright col-lg-12 col-sm-12 col-xs-12 ">

                      <div class="panel panel-default">
                          <div class="panel-heading">
                               Options
                              <button type="button" id="" title="Prévisualier le résultat" onclick="preview()" class="btn btn-default btn-xs pull-right" > <i class="fa fa-eye" aria-hidden="true"></i></button>
                              <button type="button" id="" title="Télécharger une image" data-toggle="modal"  data-target="#modalOpenImagePerso" class="btn btn-default btn-xs pull-right"  style="padding:0 10px;"> <i class="fa fa-picture-o" aria-hidden="true"></i></button>
                              <button type="button" id="btnModalAddFriend" title="Ajouter un(e) ami Facebook" data-toggle="modal"  data-target="#modalAddFriend" class="btn btn-default btn-xs pull-right" > <i class="fa fa-users" aria-hidden="true"></i></button>
                              <button type="button" id="btnModalAddUser" title="Ajouter l'image de l'utilisateur" data-toggle="modal"  data-target="#modalAddFriend" class="btn btn-default btn-xs pull-right" > <i class="fa fa-user-o" aria-hidden="true"></i></button>
                              <button type="button" id="btnModalAddTexte" title="Ajouter un texte" data-toggle="modal"  data-target="#modalAddText" class="btn btn-default btn-xs pull-right" > <i class="fa fa-text-width" aria-hidden="true"></i></button>
                              <button type="button" id="btnPutTranslateTag" title="A traduire"  class="btn btn-default btn-xs pull-right" style="border-color:#1565C0; " > <i class="fa fa-language" aria-hidden="true"></i></button>
                              <button type="button" id="" title="Initialiser l'éditeur"  class="btn btn-default btn-xs pull-right" > <i class="fa fa-file" aria-hidden="true"></i> </button>
                              <!--input type="hidden" id="nb_friends_fb" name="nb_friends_fb" value="{{themePersoInfo.nb_friends_fb}}" -->
                              <input type="number" id="max_friend_fb" name="max_friend_fb" value="{{themePersoInfo.max_friends}}" class="pull-right" style="height: 22px; width: 50px; margin-left:10px"/>
                              <span class="pull-right">  à choisir parmi  </span>
                              <input type="number" id="nb_friends_fb" name="nb_friends_fb" value="{{themePersoInfo.nb_friends_fb}}" class="pull-right" style="height: 22px; width: 50px; margin:0 10px"/>
                              <span class="pull-right"> Nombre d'amis Facebook </span>



                          </div>
                          <div class="panel-body">
                        <div role="tabpanel">

                              <!-- Nav tabs -->
                            <ul id="editor-theme" class="nav nav-tabs" role="tablist" style="margin-bottom: 15px;">
                                <li role="presentation" class="active">
                                        <a href="#tab_html" aria-controls="tab_html" role="tab" data-toggle="tab">
                                            <span class="pull-left"> PHP/HTML </span>
                                            <button type="button" id="" title="Répeter" onclick="editorHTML.redo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-repeat" aria-hidden="true"></i> </button>
                                            <button type="button" id="" title="Annuler" onclick="editorHTML.undo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-undo" aria-hidden="true"></i> </button>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab_css" aria-controls="tab_css" role="tab" data-toggle="tab">
                                            <button type="button" id="" title="Répeter" onclick="editorCSS.redo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-repeat" aria-hidden="true"></i> </button>
                                            <button type="button" id="" title="Annuler" onclick="editorCSS.undo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-undo" aria-hidden="true"></i> </button>
                                            <span class="pull-left"> CSS </span>

                                        </a>
                                    </li>
                                <li role="presentation">
                                        <a href="#tab_js" aria-controls="tab_js" role="tab" data-toggle="tab">
                                            <button type="button" id="" title="Répeter" onclick="editorJS.redo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-repeat" aria-hidden="true"></i> </button>
                                            <button type="button" id="" title="Annuler" onclick="editorJS.undo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-undo" aria-hidden="true"></i> </button>
                                            <span class="pull-left"> JS </span>
                                        </a>
                                    </li>
                                <li role="presentation">
                                        <a href="#tab_require_top" aria-controls="tab_require_top" role="tab" data-toggle="tab">
                                            <button type="button" id="" title="Répeter" onclick="editorRequireTop.redo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-repeat" aria-hidden="true"></i> </button>
                                            <button type="button" id="" title="Annuler" onclick="editorRequireTop.undo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-undo" aria-hidden="true"></i> </button>
                                            <span class="pull-left"> Fichiers entre les balises HEAD </span>
                                        </a>
                                    </li>

                                <li role="presentation">
                                        <a href="#tab_require_bottom" aria-controls="tab_require_bottom" role="tab" data-toggle="tab">
                                            <button type="button" id="" title="Répeter" onclick="editorRequireBottom.redo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-repeat" aria-hidden="true"></i> </button>
                                            <button type="button" id="" title="Annuler" onclick="editorRequireBottom.undo();" class="btn btn-default btn-xs pull-right"> <i class="fa fa-undo" aria-hidden="true"></i> </button>
                                            <span class="pull-left"> Fichiers dans le footer </span>
                                        </a>
                                    </li>
                            </ul>

                              <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab_html">
                                        <textarea id="editor_html"  name="editor_html"  placeholder="Code HTML"   class="form-control noresize">{{themePersoInfo.code_php|html_entity_decode}}</textarea>
                                    </div>
                                <div role="tabpanel" class="tab-pane" id="tab_css">
                                        <textarea id="editor_css"   name="editor_css"   placeholder="Code CSS"    class="form-control noresize ">{{themePersoInfo.code_css|html_entity_decode}}</textarea>
                                    </div>
                                <div role="tabpanel" class="tab-pane" id="tab_js">
                                        <textarea id="editor_js"    name="editor_js"  placeholder="Code JS"     class="form-control noresize ">{{themePersoInfo.code_js|html_entity_decode}}</textarea>
                                    </div>
                                <div role="tabpanel" class="tab-pane" id="tab_require_top">
                                        <textarea id="editor_require_top"    name="editor_require_top"  placeholder="Fichiers externes à ajouter (Google Fonts, Scripts ...)"     class="form-control noresize ">{{themePersoInfo.code_head|html_entity_decode}}</textarea>
                                    </div>
                                <div role="tabpanel" class="tab-pane" id="tab_require_bottom">
                                        <textarea id="editor_require_bottom"    name="editor_require_bottom"  placeholder="Fichiers externes à ajouter (Google Fonts, Scripts ...)"     class="form-control noresize ">{{themePersoInfo.code_bottom|html_entity_decode}}</textarea>
                                    </div>
                            </div>
                            </div>
                        </div>
                      </div>



                    <div class="form-group">


                    </div>
                  </div>
                  <script>

                  </script>
                  <div class="form-group col-md-12 col-sm-12 col-xs-12 " >
                      <div id="theme-perso" class="main" >
                          <span style="text-align:center; margin-top:50%"> L'aperçu du thème personnalisé sera visible ici </span>

                      </div>
                  </div>
              </section>
          {% endif %}

          </div>
        </div>
      </div>

      <!-- End Informations générales sur les résultat du test  -->

      {% if test.id_theme == 1 or test.id_theme == 2 %}
          <div class="panel panel-default" >
            <div class="panel-heading">
              <h3 class="panel-title">2. Veuillez ajouter des résultats au test et télécharger des images de résultat</h3>
            </div>
            <div class="panel-body">
              <div class="row" id="les_resultats">
                {% set i = 1 %}
                {% for resultat in all_resultats %}
                    <section class="col-lg-6 col-sm-6 col-md-6 col-xs-12"  id="le_resultat_{{i}}">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title"> Résultat {{i}} <button type="button" onclick="enleverResultat({{i}})" class="close btn-del-resultat" >&times;</button></h3>
                              <div class="form-group block-genre">
                                  <label class="control-label" for="genre{{i}}">Quel sexe ce résultat concerne-t-il ? :</label><br>
                                  <div class="radio-inline">
                                    <label><input type="radio" name="genre{{i}}" value="all" {% if resultat.genre == "all" %} checked {% endif %} ><i class="fa fa-venus-mars" aria-hidden="true"></i> N'importe lequel </label>
                                  </div>
                                  <div class="radio-inline">
                                    <label><input type="radio" name="genre{{i}}" value="masculin" {% if resultat.genre == "masculin" %} checked {% endif %} ><i class="fa fa-mars" aria-hidden="true"></i> Masculin </label>
                                  </div>
                                  <div class="radio-inline">
                                    <label><input type="radio" name="genre{{i}}" value="feminin" {% if resultat.genre == "feminin" %} checked {% endif %} ><i class="fa fa-venus" aria-hidden="true"></i> Féminin </label>
                                  </div>
                              </div>
                            </div>
                            <div class="panel-body">
                                <input type="hidden" id="id_resultat{{i}}" name="id_resultat{{i}}" value="{{resultat.id_resultat}}">
                                <!-- div class="form-group">
                                    <label class="control-label" for="resultat{{i}}">Titre du résultat {{i}} :</label>
                                    <input type="text" id="resultat{{i}}" name="resultat{{i}}" onkeyup="majApercu({{i}});" value="{{resultat.titre_resultat}}" class="form-control titre-resultat">
                                </div -->


                                <div class="form-group row">
                                    <div class="nopaddingright col-lg-6 col-md-6 col-sm-6 col-xs-6 img-profil">
                                        {% if test.id_theme == 1 %}
                                            <div class="header-img text-center">
                                                <span >{{cookie_prenom_user}}</span>
                                            </div>
                                        {% endif %}
                                        <img src="https://graph.facebook.com/{{cookie_id_user}}/picture?height=200&width=200" id="" class="img_resulat" />
                                    </div>
                                    <div class="form-group nopaddingleft col-lg-6 col-md-6 col-sm-6 col-xs-6 img-resulat">
                                        {% if test.id_theme == 1 %}
                                            <div class="header-img text-center" id="apercu_resultat{{i}}">
                                                <input type="text" value="{{resultat.titre_resultat | htmlspecialchars}}"  id="resultat{{i}}" name="resultat{{i}}"  placeholder="Nom du résultat" class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12 titre-resultat"/>
                                            </div>
                                        {% endif %}
                                        <img src="{{base_url()}}/{{resultat.image_resultat}}" id="img_resultat_preview_{{i}}" class="img_resulat" data-toggle="modal"  data-target="#modalOpenImage" onclick="initialisationCropEditor({{i}});" />
                                        <input type="button" id="btn_crop_{{i}}" data-toggle="modal"  data-target="#modalOpenImage" onclick="initialisationCropEditor({{i}});" class="btn btn-primary btn-md btn_add_image_resultat center-block" value="Changer l'image" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="img_resultat_base_64_{{i}}" id="img_resultat_base_64_{{i}}" class="img_base_64" value="noimage" />
                                </div>
                                {% if test.id_theme == 2 %}
                                  <div class="form-group">
                                    <label class="control-label" for="texte_resultat{{i}}">Entrez votre texte :</label>
                                    <textarea type="text" id="texte_resultat{{i}}" name="texte_resultat{{i}}" value="" class="form-control texte-resultat noresize">{{resultat.texte_resultat|htmlspecialchars}}</textarea>
                                  </div>
                                {% endif %}

                            </div>
                          </div>
                    </section>


                    {% set i = i + 1 %}
                {% endfor %}
              </div>

              <!-- Bouton ajouter un résultat au test -->
              <div class="form-group col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-lg-4 col-md-4 col-sm-4">
                  <button type="button"  id="btn_add_result" class="form-control btn btn-primary btn-xs" ><span class="glyphicon glyphicon-plus"></span> Ajouter un résultat</button>
              </div>
            </div>
          </div>
      {% endif %}

      <!-- Bouton enregistrer un test-->
      <!-- Inputs hidden  -->
      <input type="hidden" name="theme" value="{{test.id_theme}}" class="form-control">
      <input type="hidden" id="idNextResultat" name="idNextResultat" value="{{i}}">
      <!-- END Inputs hidden  -->
      <div class="row">
          <div class="form-group col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-3 col-md-3 col-sm-3">
              <button type="button"  id="btn_cancel" onclick="window.location = '{{base_url()}}/tests';" class="form-control btn btn-default" ><span class="glyphicon glyphicon-arrow-left"></span> Annuler</button>
          </div>
          <div class="form-group col-lg-3 col-md-3 col-sm-3">
                <button type="submit"  id="btn_save" {% if test.id_theme == 4 %} onclick="updateTest({{test.id_test}});" {% endif %} class="form-control btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Enregistrer le test</button>
          </div>
      </div>

    </form>


</div>
{% endblock %}


{% block additionalfooter %}
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
  <script src="{{ base_url() }}/src/js/cropit/jquery.cropit.js" ></script>

  <script>
      $(".select-pays").select2();
      $(".select-langs").select2();
  </script>
  {% if test.id_theme == 4 %}
          <!-- Modal pour ajouter une image du thème personnalisé-->
          <div id="modalOpenImagePerso" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Ajouter une image <img src="{{ base_url() }}/src/img/loading2.gif" style="display:none;" class="img-loading" /></h4>
                            <span id="message-error"> </span>
                            </div>
                          <div class="modal-body">
                                      <div class="row">
                                          <form name="upload_background" class="form-inline" id="upload_background" type="POST" enctype="multipart/form-data">
                                              <input type="file" class="" name="input_background" id="input_background" style="display:none;">
                                              <div class="col-sm-offset-0 col-sm-12 center">
                                                  <div class="form-group ">
                                                        <label class="control-label" for="id_image"> </label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">Saisir un Id pour l'image : #</span>
                                                            <input type="text" id="id_image" name="id_image" value="" class="form-control" >
                                                        </div>
                                                  </div>

                                                  <div class="form-group ">
                                                      puis
                                                  </div>
                                                  <button type="button" id="openbackground" class="btn btn-primary btn-sm" disabled>Choisir un fichier </button>
                                              </div>
                                          </form>
                                      </div>

                                      <div class="row" id="block_get_code" style="display:none;     margin-top: 20px;">
                                          <div class="col-sm-offset-0 col-sm-12 center">
                                              <div class="form-group ">
                                                <label class="control-label" for="titre">Copiez et collez le code HTML / CSS suivant : </label>
                                                <textarea id="code_html_img" name="code_html_img" class="form-control noresize" rows="5" > </textarea>
                                              </div>
                                          </div>
                                      </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" onclick="initFormAddImg();" data-dismiss="modal">Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div>

          <div id="modalAddFriend" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                              <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Ajouter une image de profil <img src="{{ base_url() }}/src/img/loading2.gif" style="display:none;" class="img-loading" /></h4>

                              </div>
                            <div class="modal-body">
                                    <div class="row" id="set-css-friend" style="">
                                        <div class="col-sm-2" id="num_friend">
                                            <div class="form-group ">
                                              <label class="control-label" for="titre">Friend # : </label>
                                              <input type="number" id="number_friend" name="number_friend" value="" class="form-control input-sm" >
                                            </div>
                                        </div>
                                            <div class="col-sm-3">
                                                <div class="form-group ">
                                                  <label class="control-label" for="titre">width (px) : </label>
                                                  <input type="number" id="width_friend" name="width_friend" value="200" class="form-control input-sm" >
                                                </div>
                                            </div>
                                        <div class="col-sm-4">
                                            <div class="form-group ">
                                              <label class="control-label" for="titre">border-radius (px) : </label>
                                              <input type="number" id="radius_friend" name="radius_friend" value="0" placeholder="0" class="form-control input-sm">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group ">
                                              <label class="control-label" for="titre">z-index : </label>
                                              <input type="number" id="z_index_friend" name="z_index_friend" value="1" placeholder="1" class="form-control input-sm">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" id="set-css-friend-code" style="display:none">
                                        <div class="col-sm-12">
                                            <div class="form-group ">
                                              <label class="control-label" for="titre">Copiez et collez le code HTML / CSS suivant : </label>
                                              <textarea name="code_html_friend" id="code_html_friend" rows="5" cols=""  class="form-control noresize"></textarea>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                            <div class="modal-footer">
                              <button type="button" id="btn_charger_friend" class="export btn btn-primary" onclick="chargerFriend();">Obtenir le code </button>
                              <button type="button" class="btn btn-default" onclick="initFormAddFriend();" id=""data-dismiss="modal">Fermer</button>
                            </div>
                          </div>
                        </div>
                      </div>

          <div id="modalAddText" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Ajouter du texte <img src="{{ base_url() }}/src/img/loading2.gif" style="display:none;" class="img-loading" /></h4>

                                </div>
                              <div class="modal-body">
                                      <div class="row" id="set-css-text" style="">
                                          <div class="col-sm-12 form-group ">
                                              Pour le texte :
                                          </div>
                                          <div class="col-sm-4">
                                              <div class="form-group ">
                                                <label class="control-label" for="color_text">Id du texte : </label>
                                                <input type="text" id="id_text" name="id_text" value="" class="form-control input-sm" >
                                              </div>
                                          </div>
                                          <div class="col-sm-4">
                                              <div class="form-group ">
                                                <label class="control-label" for="color_text">color  : </label>
                                                <input type="text" id="color_text" name="color_text" value="#000" class="form-control input-sm" >
                                              </div>
                                          </div>
                                          <div class="col-sm-4">
                                              <div class="form-group ">
                                                <label class="control-label" for="font_size_text">font-size (px) : </label>
                                                <input type="number" id="font_size_text" name="font_size_text" value="14" class="form-control input-sm" >
                                              </div>
                                          </div>
                                          <hr style="width:100%;">

                                          <div class="col-sm-12 form-group ">
                                              Pour le block conteneur du texte :
                                          </div>

                                          <div class="col-sm-3">
                                              <div class="form-group ">
                                                <label class="control-label" for="background_text">background  : </label>
                                                <input type="text" id="background_text" name="background_text" value="transparent" class="form-control input-sm" >
                                              </div>
                                          </div>
                                          <div class="col-sm-3">
                                              <div class="form-group ">
                                                <label class="control-label" for="width_text">width (px) : </label>
                                                <input type="number" id="width_text" name="width_text" value="200" class="form-control input-sm" >
                                              </div>
                                          </div>
                                          <div class="col-sm-3">
                                              <div class="form-group ">
                                                <label class="control-label" for="height_text">height (px) : </label>
                                                <input type="number" id="height_text" name="height_text" value="50" class="form-control input-sm" >
                                              </div>
                                          </div>
                                          <div class="col-sm-3">
                                              <div class="form-group ">
                                                <label class="control-label" for="padding_text">padding (px) : </label>
                                                <input type="number" id="padding_text" name="padding_text" value="5" class="form-control input-sm" >
                                              </div>
                                          </div>
                                          <div class="col-sm-3">
                                              <div class="form-group ">
                                                <label class="control-label" for="text_align_text">text-align : </label>
                                                <input type="text" id="text_align_text" name="text_align_text" value="left" placeholder="0" class="form-control input-sm">
                                              </div>
                                          </div>
                                          <div class="col-sm-3">
                                              <div class="form-group ">
                                                <label class="control-label" for="border_text">border : </label>
                                                <input type="text" id="border_text" name="border_text" value="0" placeholder="0" class="form-control input-sm">
                                              </div>
                                          </div>
                                          <div class="col-sm-3">
                                              <div class="form-group ">
                                                <label class="control-label" for="radius_text">border-radius(px): </label>
                                                <input type="number" id="radius_text" name="radius_text" value="0" placeholder="0" class="form-control input-sm">
                                              </div>
                                          </div>
                                          <div class="col-sm-3">
                                              <div class="form-group ">
                                                <label class="control-label" for="z_index_text">z-index : </label>
                                                <input type="number" id="z_index_text" name="z_index_text" value="1" placeholder="1" class="form-control input-sm">
                                              </div>
                                          </div>
                                      </div>

                                      <div class="row" id="set-css-text-code" style="display:none">
                                          <div class="col-sm-12">
                                              <div class="form-group ">
                                                <label class="control-label" for="titre">Copiez et collez le code HTML / CSS suivant : </label>
                                                <textarea name="code_html_text" id="code_html_text" rows="5" cols=""  class="form-control noresize"></textarea>
                                              </div>
                                          </div>
                                      </div>

                              </div>
                              <div class="modal-footer">
                                <button type="button" id="btn_charger_text" class="export btn btn-primary" onclick="chargerText();" disabled>Obtenir le code </button>
                                <button type="button" class="btn btn-default" onclick="initFormAddText();" id=""data-dismiss="modal">Fermer</button>
                              </div>
                            </div>
                          </div>
                        </div>

      <script src="{{ base_url() }}/src/js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
      <script id="{{ base_url() }}/src/apercu_js"></script>
      <script src="{{ base_url() }}/src/js/script-theme-perso.js?v=1.940"></script>
  {% endif %}
      <!-- Modal pour ajouter une image du test-->
      <div id="modalOpenImage" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
              <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Ajouter une image <img src="{{ base_url() }}/src/img/loading2.gif" style="display:none;" class="img-loading" /></h4>
                      <span id="message-error"> </span>
                    </div>
                  <div class="modal-body image-editor">
                      <!--input type="button" onclick="$('#image_test').click();" class="" value="Ajouter une image" /-->
                      <div class="crop-selector-image"  >
                          <div class="row">
                              <input type="file" class="cropit-image-input" id="input-cropit-image-input" style="display:none;">
                              <div class="col-sm-offset-2 col-sm-8 center">
                                  <button id="openfile" class="btn btn-primary btn-block">Choisir un fichier local</button>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-offset-2 col-sm-8 center">
                                  <p> ou </p>
                              </div>
                          </div>
                          <div class="row center">
                              <div class="col-sm-offset-2 col-sm-5" >
                                  <input type="text" id="src-cropit" onblur="DisableOrEnabaleBtn()" onmouseup="DisableOrEnabaleBtn()" onmousedown="DisableOrEnabaleBtn()" onkeypress="DisableOrEnabaleBtn()" onkeyup="DisableOrEnabaleBtn()" onselect="DisableOrEnabaleBtn()"  onfocus="DisableOrEnabaleBtn()" class="col-sm-11 input-md" placeholder="Adresse de l'image (url) " value="" />
                              </div>
                              <div class="col-sm-3">
                                  <button id="download" class="btn btn-primary btn-sm btn-block " >Télécharger l'image</button>
                              </div>
                          </div>
                      </div>
                      <div class="crop-editor" style="display:none;" >
                          <div class="row">
                              <div class="col-sm-offset-4 col-sm-4 center">
                                  <button id="return" class="btn btn-primary btn-sm btn-block " >Choisir une autre image</button>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-offset-0 col-sm-12 center" >
                                  <div class="cropit-preview img-responsive center-block" ></div>
                              </div>
                          </div>
                          <div class="row">
                              <div class=" col-sm-12 image-size-label center">
                                 Zoom
                              </div>
                          </div>
                          <div class="row">
                              <div class=" col-sm-offset-2 col-sm-1  col-xs-offset-1 col-xs-1 ">
                                  <img src="{{ base_url() }}/src/img/zoomout.png" class="ico-zoom-out"/>
                              </div>
                              <div class=" col-sm-6  col-xs-8 image-size-label center">
                                  <input type="range" class="cropit-image-zoom-input">
                              </div>
                              <div class=" col-sm-1 col-xs-1 ">
                                  <img src="{{ base_url() }}/src/img/zoomin.png" class="ico-zoom-in"/>
                              </div>
                          </div>
                          <div class="row">
                              <div class=" col-sm-12  center">
                                  <button class="rotate-ccw"><img src="{{ base_url() }}/src/img/counterclockwise-circular-arrow.png"/></button>
                                  <button class="rotate-cw"><img src="{{ base_url() }}/src/img/clockwise-circular-arrow.png"/> </button>
                              </div>
                          </div>
                          <div class="row">
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" id="btn_charger_image" class="export btn btn-primary" data-dismiss="modal" onclick="chargerImageCropee(0);">Charger l'image</button>
                      <button type="button" class="btn btn-default" id="btn_cancel_charger_image"data-dismiss="modal">Annuler</button>
                  </div>
              </div>
          </div>
      </div>





  <script src="{{ base_url() }}/src/js/added-scripts.js?v=1.99"></script>
  <script src="{{ base_url() }}/src/js/added-default-script.js?v=1.284"></script>
  <script src="{{ base_url() }}/src/js/bootstrap.min.js"></script>

{% endblock %}
