<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link rel="apple-touch-icon" sizes="57x57"   href="{{ domain_url }}/src/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"   href="{{ domain_url }}/src/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"   href="{{ domain_url }}/src/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"   href="{{ domain_url }}/src/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ domain_url }}/src/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ domain_url }}/src/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ domain_url }}/src/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ domain_url }}/src/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ domain_url }}/src/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ domain_url }}/src/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ domain_url }}/src/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ domain_url }}/src/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ domain_url }}/src/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ domain_url }}/src/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ domain_url }}/src/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


  <title>{% block title %}{% endblock %} | FootBot</title>
    {% block graph %}{% endblock %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ domain_url }}/src/css/3-col-portfolio.css?v=0.0006" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ domain_url }}/src/css/app.css?v=1.319">
    <link rel="stylesheet" href="{{ domain_url }}/src/css/container.css?v=0.0008">
    <style media="screen">
        a.fb-message-blue {
        font-size: 16px;
        font-family: Helvetica, Arial, sans-serif;
        text-decoration: none;
        color: #fff;
        background-color: #0084ff;
        border: 1px solid #0084ff;
        width: 127px;
        height: 35px;
        line-height: 35px;
        position: fixed;
        border-radius: 3px;
        outline: none;
        -webkit-transition: all ease .15s;
        -o-transition: all ease .15s;
        -moz-transition: all ease .15s;
        transition: all ease .15s;
        }
        a.fb-message-blue:hover {
        background-color: #2093ff;
        border: 1px solid #2093ff;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
        /* transform: scale(1.15); */ /* uncomment to add zoom effect */
        }
        a.fb-message-blue:focus {
        background-color: #0084ff;
        border: 1px solid #0084ff;
        -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
        box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
        }

        .fb-message-blue i {
        background-image: url('https://i.imgur.com/hjwozo7.png');
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: 7px 9px;
        top: -1px;
        height: 18px;
        width: 17px;
        padding: 10px 7px;
        float: left;
        }





        /*---------------------------
        White Button
        ---------------------------*/

        a.fb-message-white {
        font-size: 16px;
        font-family: Helvetica, Arial, sans-serif;
        text-decoration: none;
        color: #0084ff;
        background-color: #fff;
        border: 1px solid #ececec;
        width: 127px;
        height: 35px;
        line-height: 35px;
        position: fixed;
        border-radius: 3px;
        outline: none;
        -webkit-transition: all ease .15s;
        -o-transition: all ease .15s;
        -moz-transition: all ease .15s;
        transition: all ease .15s;
        }
        a.fb-message-white:hover {
        background-color: #fafafa;
        border: 1px solid #ccc;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
        /* transform: scale(1.15); */ /* uncomment to add zoom effect */
        }
        a.fb-message-white:focus {
        background-color: #fff;
        border: 1px solid #bbb;
        -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
        box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
        }

        .fb-message-white i {
        background-image: url('https://i.imgur.com/WFeWHxl.png');
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: 7px 9px;
        top: -1px;
        height: 18px;
        width: 17px;
        padding: 10px 7px;
        float: left;
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    {% block googletagmanager %}{% endblock %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N4J4L86');</script>
    <!-- End Google Tag Manager -->

</head>
<body style="padding-top:0">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4J4L86" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  {% block content %}{% endblock %}

    <!-- /.container -->
    <!-- jQuery -->
  <script src="{{ domain_url }}/src/js/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
    function windowH() {
     var wH = $(window).height();

     $('.mainContent').css({height: wH});
    }

    windowH();
  </script>
</body>
</html>
