
<table id="daily_stat" class="table table-bordered table-striped table-condensed" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>.</th>
      <th>Date</th>
      <th>Tests</th>
      <th>Partages directs</th>
      <th>Clics</th>
      <th>Partages depuis Facebook</th>
      <th>Réactions</th>
      <th>Commentaires</th>
    </tr>
  </thead>
  <tbody >
      {% set i = 1 %}
      {% for day in data_days %}
        <tr>
          <td class="">{{i}}</td>
          <td class=""> {% if i == 1 %} Aujourd'hui {% elseif i == 2 %} Hier {% else %} {{ day.created_at|date("d/m/Y") }} {% endif %} </td>
          <td class=""> {{ day.nb_tests }} </td>
          <td class=""> {{ day.partages_count }} </td>
          <td class=""> {{ day.click_count }} </td>
          <td class=""> {{ day.shares_count }} </td>
          <td class=""> {{ day.reactions_count }} </td>
          <td class=""> {{ day.click_count }} </td>
        </tr>
        {% set i = i + 1 %}
      {% endfor %}
  </tbody>
</table>
<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function() {
      $('#daily_stat').DataTable( {
                "order": [[ 0, "asc" ]],
        "language": {
           "lengthMenu": "Afficher  _MENU_  jours par page",
           "zeroRecords": "Aucun jour trouvé ! ",
           "info": "Voir page _PAGE_ à _PAGES_ ( jour _START_ à _END_ sur _TOTAL_ )",
           "infoEmpty": "Aucun jour trouvé",
           "infoFiltered": "(recherche effectuée sur _MAX_ jours)"
         }
        } );
    } );

</script>
