<table id="stat_global" class="table table-bordered table-striped table-condensed" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th width="25%">Titre</th>
      <th>Affichages</th>
      <th>Partages directs</th>
      <th>Clics</th>
      <th>Partages depuis Facebook</th>
      <th>Réactions</th>
      <th>Commentaires</th>
    </tr>
  </thead>
  <tbody>
    {% for resultat in data_resultats %}
      <tr>
        <td><h5 class="">{% if theme == 3 or theme == 4 %} {{resultat.titre_test}} {% else %} {% if resultat.titre_resultat %}{{resultat.titre_resultat}} {% else %} {{resultat.texte_resultat}} {% endif %}{% endif %}</h5> </td>
        <td> {{resultat.nb_tests}} </td>
        <td> {{resultat.partages_count}} </td>
        <td> {{resultat.click_count}} </td>
        <td> {{resultat.shares_count}} </td>
        <td> {{resultat.reactions_count}} </td>
        <td> {{resultat.comments_count}} </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript" language="javascript" class="init">
      $(document).ready(function() {

    $('#stat_global').DataTable( {
      "order": [[ 5, "desc" ]],
      "language": {
         "lengthMenu": "Afficher  _MENU_  résultats par page",
         "zeroRecords": "Aucun résultat trouvé ! ",
         "info": "Voir page _PAGE_ à _PAGES_ ( résultat _START_ à _END_ sur _TOTAL_ )",
         "infoEmpty": "Aucun résultat trouvé",
         "infoFiltered": "(recherche effectuée sur _MAX_ résultats)"
       }
    } );
      } );

</script>
