{% extends 'templates/layoutShare.twig' %}
{% block title %}FootBot{% endblock %}
{% block graph %}
      <!--FACEBOOK-->
      <link rel="canonical" href="{{ domain_url }}/api/footbot">
      <meta property="og:title" content="Fais tes pronostics pour la coupe du monde" />
      <meta property="og:site_name" content="FootBot" />
      <meta property="og:url" content="{{ domain_url }}/api/footbot" >
      <meta property="og:description" content=" " />
      <meta property="og:image:type" content="image/jpeg" />
      <meta property="og:image:width" content="800"/>
      <meta property="og:image:height" content="420"/>
      <meta property="og:image" content="{{ storage_base }}{{ img_url }}" />
      <meta property="og:type" content="website">
      <meta property="fb:app_id" content="348809548888116">
{% endblock %}
{% block googletagmanager %}
  <script>
    dataLayer = [{
      'pageCategory': 'home'
    }];
  </script>
{% endblock %}


{% block content %}
  <div class="mainContent" style="display:flex; justify-content:center; align-items:center; flex-direction: column; font-size: 1.5em;">
    <div  id="div_test" class="col-xs-12 col-sm-10 col-sm-offset-1 back_layer">
      <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-center" style="margin-bottom:30px;">
        {{ data.text}}
      </div>

      <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-center">
          <a class="btn btn-primary btn-lg btn_footbot" href="https://www.messenger.com/t/funizi" onclick='alert("Clic")' style="cursor:pointer; width: 200px;"  data-btn="discover-footbot"><i class="fab fa-facebook-messenger"></i> {{data.btn_title}}</a>
          <a href="https://www.messenger.com/t/PAGE_ID/"
            class="fb-message-blue"
            style="bottom: 150px; right: 150px;"
            target="_blank">
            <i></i> {{data.btn_title}}
          </a>
      </div>
    </div>

  </div>
  <!-- /New Test Button -->

{% endblock %}
