{% extends 'templates/layoutShare.twig' %}
{% block title %}FootBot{% endblock %}
{% block graph %}
      <!--FACEBOOK-->
      <link rel="canonical" href="{{ domain_url }}/api/footbot">
      <meta property="og:title" content="Fais tes pronostics pour la coupe du monde" />
      <meta property="og:site_name" content="FootBot" />
      <meta property="og:url" content="{{ domain_url }}/api/footbot" >
      <meta property="og:description" content=" " />
      <meta property="og:image:type" content="image/jpeg" />
      <meta property="og:image:width" content="800"/>
      <meta property="og:image:height" content="420"/>
      <meta property="og:image" content="{{ storage_base }}{{ img_url }}" />
      <meta property="og:type" content="website">
      <meta property="fb:app_id" content="348809548888116">
{% endblock %}
{% block googletagmanager %}
  <script>
    dataLayer = [{
      'pageCategory': 'home'
    }];
  </script>
{% endblock %}


{% block content %}
  <div class="mainContent" style="display:flex; justify-content:center; align-items:center;">
    {{ data }}

  </div>
  <!-- /New Test Button -->
  <script>
    function windowH() {
     var wH = $(window).height();

     $('.mainContent').css({height: wH});
    }

    windowH();
  </script>
{% endblock %}
