{% extends 'templates/layoutShare.twig' %}
{% block title %}{{interface_ui.title_home | capitalize}}{% endblock %}
{% block graph %}
      <!--FACEBOOK-->
      <link rel="canonical" href="{{ domain_url }}/api/footbot">
      <meta property="og:title" content="{{data.user}} a fait son pronostic." />
      <meta property="og:site_name" content="FootBot" />
      <meta property="og:url" content="{{ domain_url }}/api/footbot" >
      <meta property="og:description" content=" Fais tes pronostics pour la coupe du monde comme {{data.user}}." />
      <meta property="og:image:type" content="image/jpeg" />
      <meta property="og:image:width" content="800"/>
      <meta property="og:image:height" content="420"/>
      <meta property="og:image" content="{{ data.img_url }}" />
      <meta property="og:type" content="website">
      <meta property="fb:app_id" content="348809548888116">
  {% block googletagmanager %}
    <script>
      dataLayer = [{
        'pageCategory': 'home'
      }];
    </script>
  {% endblock %}
{% endblock %}
{% block banner_mobile_top %} {% include 'banners/banner_320x100_top.twig' %} {% endblock %}

{% block content %}
  <div class="mainContent" style="display:flex; justify-content:center; align-items:center; flex-direction: column; font-size: 1.5em;">
    <div  id="div_test" class="col-xs-10 col-sm-8" style="padding:1em; background-color:rgba(28, 48, 79, 0.4);">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-center" style="margin-top:15px;margin-bottom:15px;">
            <p>Coupe du monde 2018 : {{data.team_a}} - {{data.team_b}}</p>
            <a class="btn btn-primary btn-lg btn_to_track" href="https://www.facebook.com/dialog/share?app_id=348809548888116&hashtag=%23funizi&display=popup&href={{ url_to_share }}&redirect_uri={{ url_redirect_share }}"  onclick='partage("{{ code }}", "{{ lang }}", "top")'  style="cursor:pointer;" data-btn="share-top"><i class="fab fa-facebook-f"></i> {{interface_ui.btn_share}}</a>
        </div>

        <div class="col-sm-10 col-sm-offset-1" style="clear: both; position: relative;">
            <img src="{{ data.img_url }}" alt="" class="img-responsive" id="result_img" style="margin:15px auto">
            <a href="https://www.facebook.com/dialog/share?app_id=348809548888116&hashtag=%23funizi&display=popup&href={{ url_to_share }}&redirect_uri={{ url_redirect_share }}" id="share_link" onclick='partage("{{ code }}", "{{ lang }}", "img")' style="display: block; position: absolute; width: calc(100% - 30px); height: 100%; top:0; left:15px; cursor: pointer;" class="btn_to_track" data-btn="share-img"></a>

            <div class="overlay-share">
              <a class="overlay-btn-share" href="https://www.facebook.com/dialog/share?app_id=348809548888116&hashtag=%23funizi&display=popup&href={{ url_to_share }}&redirect_uri={{ url_redirect_share }}"  onclick='partage("{{ code }}", "{{ lang }}", "overlay")' style="width: 5em; height: 5em; font-size:0.8em;"  >
                <i class="fab fa-facebook-f" style="font-size:0.8em;"></i> &nbsp;{{interface_ui.label_short_share}}
              </a>
              <span class="overlay-btn-close" onclick='$(".overlay-share").fadeOut("slow")' style="width: 2em; height: 2em; font-size:1em;">
                <i class="fa fa-times" aria-hidden="true" style="font-size:1em;"></i>
              </span>
            </div>
            <script>
              setTimeout(function(){ $(".overlay-share").css("display","flex").fadeIn("slow") }, 3000);
            </script>
        </div>

        <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-center"
                {% if is_mobile() or is_tablet() %} style="margin-top:.8em;" {% endif %}>
            <a class="btn btn-primary btn-lg btn_to_track" href="https://www.facebook.com/dialog/share?app_id=348809548888116&hashtag=%23funizi&display=popup&href={{ url_to_share }}&redirect_uri={{ url_redirect_share }}" onclick='partage("{{ code }}", "{{ lang }}", "bottom")' style="cursor:pointer;"  data-btn="share-bottom"><i class="fab fa-facebook-f"></i> {{interface_ui.btn_share}}</a>
        </div>

        <div class="col-sm-10 col-sm-offset-1" style="clear: both; font-size: 1.1em; margin-top: 1em; margin-bottom: 1em; text-align: center;">
        {% autoescape %}
            {{result_description | raw | nl2br }}
        {% endautoescape %}
        </div>
    </div>

  </div>








  <!-- /New Test Button -->
{% endblock %}
