<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>{% block title %}{% endblock %} | Funizi Administration</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ domain_url }}/src/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{{ domain_url }}/src/css/DataTables/jquery.dataTables.css" rel="stylesheet" type="text/css">
    <link href="{{ domain_url }}/src/css/DataTables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="{{ domain_url }}/src/css/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{ domain_url }}/src/css/select2.css?v=1.00006" rel="stylesheet" type="text/css"/>

    <!-- CDN CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{ domain_url }}/src/css/added-style.css?v=1.500" rel="stylesheet">
    {% block additionalstyle %} {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body style="padding-top:60px">
{% include 'templates/partials/menu.twig' %}
<!-- Page Content -->

<div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8" >
             <div class="alert alert-success alert-dismissable " id="alert_progress" style="display:none">
                 <span id="notif_action_text">
                    Opération en cours ...
                  </span>
                  <!--div class="progress"> <span class="blue" style="width:0%;"><span>0%</span></span> </div-->
                  <div class="progress" style="margin-bottom:0;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 0"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
             </div>
           </div>
        </div>
         {% block content %}{% endblock %}
</div>
<!-- /.container -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ domain_url }}/src/js/bootstrap.min.js"></script>

<!-- Custom JavaScript -->
{% block additionalfooter %} {% endblock %}


<!-- Others scripts-->

</body>
</html>
