{% if all_test %}
    {% for single_test in all_test %}
        <div class="col-md-4 portfolio-item">
            <div class="border" data-test-id="{{single_test.id_test}}">
                <img class="img-responsive" src="{{ base_url }}/creation-test{{ single_test.url_image_test |trim('.', 'left') }}" alt="image du test">
                <span class="mobile-layer"></span>
                <a class="test__link btn_to_track" href="{{ path_for('singledis', { 'from': 'discover', 'id': single_test.id_test, 'name': single_test.titre_test | twig_clean_url }) }}" data-btn="btn-test"></a>
                <h3 class="test-title">{{ single_test.titre_test }}</h3>
                <div class="test__next"><a href="{{ path_for('singledis', { 'from': 'discover', 'id': single_test.id_test, 'name': single_test.titre_test | twig_clean_url }) }}" class="btn btn-primary col-sm-8 col-sm-offset-2 btn_to_track"  data-btn="btn-test">Faire le test <i class="fa fa-arrow-right"></i></a></div>
            </div>
        </div>
        {% set i = i+1 %}
    {% endfor %}
{% endif %}
